[class^="tango-"], [class*=" tango-"] { background: url(../img/tango-small.png) no-repeat top left; display: inline-block; height: 16px; line-height: 16px; margin-bottom: 1px; vertical-align: middle;width: 16px; }
.tango-actions-address-book-new{ background-position: 0 0; width: 16px; height: 16px; } 
.tango-actions-appointment-new{ background-position: -32px 0; width: 16px; height: 16px; } 
.tango-actions-bookmark-new{ background-position: -64px 0; width: 16px; height: 16px; } 
.tango-actions-contact-new{ background-position: -96px 0; width: 16px; height: 16px; } 
.tango-actions-document-new{ background-position: -128px 0; width: 16px; height: 16px; } 
.tango-actions-document-open{ background-position: -160px 0; width: 16px; height: 16px; } 
.tango-actions-document-print-preview{ background-position: -192px 0; width: 16px; height: 16px; } 
.tango-actions-document-print{ background-position: -224px 0; width: 16px; height: 16px; } 
.tango-actions-document-properties{ background-position: -256px 0; width: 16px; height: 16px; } 
.tango-actions-document-save-as{ background-position: -288px 0; width: 16px; height: 16px; } 
.tango-actions-document-save{ background-position: -320px 0; width: 16px; height: 16px; } 
.tango-actions-edit-clear{ background-position: -352px 0; width: 16px; height: 16px; } 
.tango-actions-edit-copy{ background-position: -384px 0; width: 16px; height: 16px; } 
.tango-actions-edit-cut{ background-position: -416px 0; width: 16px; height: 16px; } 
.tango-actions-edit-delete{ background-position: -448px 0; width: 16px; height: 16px; } 
.tango-actions-edit-find-replace{ background-position: -480px 0; width: 16px; height: 16px; } 
.tango-actions-edit-find{ background-position: -512px 0; width: 16px; height: 16px; } 
.tango-actions-edit-paste{ background-position: -544px 0; width: 16px; height: 16px; } 
.tango-actions-edit-redo{ background-position: -576px 0; width: 16px; height: 16px; } 
.tango-actions-edit-select-all{ background-position: -608px 0; width: 16px; height: 16px; } 
.tango-actions-edit-undo{ background-position: -640px 0; width: 16px; height: 16px; } 
.tango-actions-folder-new{ background-position: -672px 0; width: 16px; height: 16px; } 
.tango-actions-format-indent-less{ background-position: -704px 0; width: 16px; height: 16px; } 
.tango-actions-format-indent-more{ background-position: -736px 0; width: 16px; height: 16px; } 
.tango-actions-format-justify-center{ background-position: -768px 0; width: 16px; height: 16px; } 
.tango-actions-format-justify-fill{ background-position: -800px 0; width: 16px; height: 16px; } 
.tango-actions-format-justify-left{ background-position: -832px 0; width: 16px; height: 16px; } 
.tango-actions-format-justify-right{ background-position: -864px 0; width: 16px; height: 16px; } 
.tango-actions-format-text-bold{ background-position: -896px 0; width: 16px; height: 16px; } 
.tango-actions-format-text-italic{ background-position: -928px 0; width: 16px; height: 16px; } 
.tango-actions-format-text-strikethrough{ background-position: -960px 0; width: 16px; height: 16px; } 
.tango-actions-format-text-underline{ background-position: -992px 0; width: 16px; height: 16px; } 
.tango-actions-go-bottom{ background-position: -1024px 0; width: 16px; height: 16px; } 
.tango-actions-go-down{ background-position: -1056px 0; width: 16px; height: 16px; } 
.tango-actions-go-first{ background-position: -1088px 0; width: 16px; height: 16px; } 
.tango-actions-go-home{ background-position: -1120px 0; width: 16px; height: 16px; } 
.tango-actions-go-jump{ background-position: -1152px 0; width: 16px; height: 16px; } 
.tango-actions-go-last{ background-position: -1184px 0; width: 16px; height: 16px; } 
.tango-actions-go-next{ background-position: -1216px 0; width: 16px; height: 16px; } 
.tango-actions-go-previous{ background-position: -1248px 0; width: 16px; height: 16px; } 
.tango-actions-go-top{ background-position: -1280px 0; width: 16px; height: 16px; } 
.tango-actions-go-up{ background-position: -1312px 0; width: 16px; height: 16px; } 
.tango-actions-list-add{ background-position: -1344px 0; width: 16px; height: 16px; } 
.tango-actions-list-remove{ background-position: -1376px 0; width: 16px; height: 16px; } 
.tango-actions-mail-forward{ background-position: -1408px 0; width: 16px; height: 16px; } 
.tango-actions-mail-mark-junk{ background-position: -1440px 0; width: 16px; height: 16px; } 
.tango-actions-mail-mark-not-junk{ background-position: -1472px 0; width: 16px; height: 16px; } 
.tango-actions-mail-message-new{ background-position: -1504px 0; width: 16px; height: 16px; } 
.tango-actions-mail-reply-all{ background-position: -1536px 0; width: 16px; height: 16px; } 
.tango-actions-mail-reply-sender{ background-position: -1568px 0; width: 16px; height: 16px; } 
.tango-actions-mail-send-receive{ background-position: -1600px 0; width: 16px; height: 16px; } 
.tango-actions-media-eject{ background-position: -1632px 0; width: 16px; height: 16px; } 
.tango-actions-media-playback-pause{ background-position: -1664px 0; width: 16px; height: 16px; } 
.tango-actions-media-playback-start{ background-position: -1696px 0; width: 16px; height: 16px; } 
.tango-actions-media-playback-stop{ background-position: -1728px 0; width: 16px; height: 16px; } 
.tango-actions-media-record{ background-position: -1760px 0; width: 16px; height: 16px; } 
.tango-actions-media-seek-backward{ background-position: -1792px 0; width: 16px; height: 16px; } 
.tango-actions-media-seek-forward{ background-position: -1824px 0; width: 16px; height: 16px; } 
.tango-actions-media-skip-backward{ background-position: -1856px 0; width: 16px; height: 16px; } 
.tango-actions-media-skip-forward{ background-position: -1888px 0; width: 16px; height: 16px; } 
.tango-actions-process-stop{ background-position: -1920px 0; width: 16px; height: 16px; } 
.tango-actions-system-lock-screen{ background-position: -1952px 0; width: 16px; height: 16px; } 
.tango-actions-system-log-out{ background-position: 0 -32px; width: 16px; height: 16px; } 
.tango-actions-system-search{ background-position: -32px -32px; width: 16px; height: 16px; } 
.tango-actions-system-shutdown{ background-position: -64px -32px; width: 16px; height: 16px; } 
.tango-actions-tab-new{ background-position: -96px -32px; width: 16px; height: 16px; } 
.tango-actions-view-fullscreen{ background-position: -128px -32px; width: 16px; height: 16px; } 
.tango-actions-view-refresh{ background-position: -160px -32px; width: 16px; height: 16px; } 
.tango-actions-window-new{ background-position: -192px -32px; width: 16px; height: 16px; } 
.tango-apps-accessories-calculator{ background-position: -224px -32px; width: 16px; height: 16px; } 
.tango-apps-accessories-character-map{ background-position: -256px -32px; width: 16px; height: 16px; } 
.tango-apps-accessories-text-editor{ background-position: -288px -32px; width: 16px; height: 16px; } 
.tango-apps-help-browser{ background-position: -320px -32px; width: 16px; height: 16px; } 
.tango-apps-internet-group-chat{ background-position: -352px -32px; width: 16px; height: 16px; } 
.tango-apps-internet-mail{ background-position: -384px -32px; width: 16px; height: 16px; } 
.tango-apps-internet-news-reader{ background-position: -416px -32px; width: 16px; height: 16px; } 
.tango-apps-internet-web-browser{ background-position: -448px -32px; width: 16px; height: 16px; } 
.tango-apps-office-calendar{ background-position: -480px -32px; width: 16px; height: 16px; } 
.tango-apps-preferences-desktop-accessibility{ background-position: -512px -32px; width: 16px; height: 16px; } 
.tango-apps-preferences-desktop-assistive-technology{ background-position: -544px -32px; width: 16px; height: 16px; } 
.tango-apps-preferences-desktop-font{ background-position: -576px -32px; width: 16px; height: 16px; } 
.tango-apps-preferences-desktop-keyboard-shortcuts{ background-position: -608px -32px; width: 16px; height: 16px; } 
.tango-apps-preferences-desktop-locale{ background-position: -640px -32px; width: 16px; height: 16px; } 
.tango-apps-preferences-desktop-multimedia{ background-position: -672px -32px; width: 16px; height: 16px; } 
.tango-apps-preferences-desktop-remote-desktop{ background-position: -704px -32px; width: 16px; height: 16px; } 
.tango-apps-preferences-desktop-screensaver{ background-position: -736px -32px; width: 16px; height: 16px; } 
.tango-apps-preferences-desktop-theme{ background-position: -768px -32px; width: 16px; height: 16px; } 
.tango-apps-preferences-desktop-wallpaper{ background-position: -800px -32px; width: 16px; height: 16px; } 
.tango-apps-preferences-system-network-proxy{ background-position: -832px -32px; width: 16px; height: 16px; } 
.tango-apps-preferences-system-session{ background-position: -864px -32px; width: 16px; height: 16px; } 
.tango-apps-preferences-system-windows{ background-position: -896px -32px; width: 16px; height: 16px; } 
.tango-apps-system-file-manager{ background-position: -928px -32px; width: 16px; height: 16px; } 
.tango-apps-system-installer{ background-position: -960px -32px; width: 16px; height: 16px; } 
.tango-apps-system-software-update{ background-position: -992px -32px; width: 16px; height: 16px; } 
.tango-apps-system-users{ background-position: -1024px -32px; width: 16px; height: 16px; } 
.tango-apps-utilities-system-monitor{ background-position: -1056px -32px; width: 16px; height: 16px; } 
.tango-apps-utilities-terminal{ background-position: -1088px -32px; width: 16px; height: 16px; } 
.tango-categories-applications-accessories{ background-position: -1120px -32px; width: 16px; height: 16px; } 
.tango-categories-applications-development{ background-position: -1152px -32px; width: 16px; height: 16px; } 
.tango-categories-applications-games{ background-position: -1184px -32px; width: 16px; height: 16px; } 
.tango-categories-applications-graphics{ background-position: -1216px -32px; width: 16px; height: 16px; } 
.tango-categories-applications-internet{ background-position: -1248px -32px; width: 16px; height: 16px; } 
.tango-categories-applications-multimedia{ background-position: -1280px -32px; width: 16px; height: 16px; } 
.tango-categories-applications-office{ background-position: -1312px -32px; width: 16px; height: 16px; } 
.tango-categories-applications-other{ background-position: -1344px -32px; width: 16px; height: 16px; } 
.tango-categories-applications-system{ background-position: -1376px -32px; width: 16px; height: 16px; } 
.tango-categories-preferences-desktop-peripherals{ background-position: -1408px -32px; width: 16px; height: 16px; } 
.tango-categories-preferences-desktop{ background-position: -1440px -32px; width: 16px; height: 16px; } 
.tango-categories-preferences-system{ background-position: -1472px -32px; width: 16px; height: 16px; } 
.tango-devices-audio-card{ background-position: -1504px -32px; width: 16px; height: 16px; } 
.tango-devices-audio-input-microphone{ background-position: -1536px -32px; width: 16px; height: 16px; } 
.tango-devices-battery{ background-position: -1568px -32px; width: 16px; height: 16px; } 
.tango-devices-camera-photo{ background-position: -1600px -32px; width: 16px; height: 16px; } 
.tango-devices-camera-video{ background-position: -1632px -32px; width: 16px; height: 16px; } 
.tango-devices-computer{ background-position: -1664px -32px; width: 16px; height: 16px; } 
.tango-devices-drive-harddisk{ background-position: -1696px -32px; width: 16px; height: 16px; } 
.tango-devices-drive-optical{ background-position: -1728px -32px; width: 16px; height: 16px; } 
.tango-devices-drive-removable-media{ background-position: -1760px -32px; width: 16px; height: 16px; } 
.tango-devices-input-gaming{ background-position: -1792px -32px; width: 16px; height: 16px; } 
.tango-devices-input-keyboard{ background-position: -1824px -32px; width: 16px; height: 16px; } 
.tango-devices-input-mouse{ background-position: -1856px -32px; width: 16px; height: 16px; } 
.tango-devices-media-flash{ background-position: -1888px -32px; width: 16px; height: 16px; } 
.tango-devices-media-floppy{ background-position: -1920px -32px; width: 16px; height: 16px; } 
.tango-devices-media-optical{ background-position: -1952px -32px; width: 16px; height: 16px; } 
.tango-devices-multimedia-player{ background-position: 0 -64px; width: 16px; height: 16px; } 
.tango-devices-network-wired{ background-position: -32px -64px; width: 16px; height: 16px; } 
.tango-devices-network-wireless{ background-position: -64px -64px; width: 16px; height: 16px; } 
.tango-devices-printer{ background-position: -96px -64px; width: 16px; height: 16px; } 
.tango-devices-video-display{ background-position: -128px -64px; width: 16px; height: 16px; } 
.tango-emblems-emblem-favorite{ background-position: -160px -64px; width: 16px; height: 16px; } 
.tango-emblems-emblem-important{ background-position: -192px -64px; width: 16px; height: 16px; } 
.tango-emblems-emblem-photos{ background-position: -224px -64px; width: 16px; height: 16px; } 
.tango-emblems-emblem-readonly{ background-position: -256px -64px; width: 16px; height: 16px; } 
.tango-emblems-emblem-symbolic-link{ background-position: -288px -64px; width: 16px; height: 16px; } 
.tango-emblems-emblem-system{ background-position: -320px -64px; width: 16px; height: 16px; } 
.tango-emblems-emblem-unreadable{ background-position: -352px -64px; width: 16px; height: 16px; } 
.tango-emotes-face-angel{ background-position: -384px -64px; width: 16px; height: 16px; } 
.tango-emotes-face-crying{ background-position: -416px -64px; width: 16px; height: 16px; } 
.tango-emotes-face-devilish{ background-position: -448px -64px; width: 16px; height: 16px; } 
.tango-emotes-face-glasses{ background-position: -480px -64px; width: 16px; height: 16px; } 
.tango-emotes-face-grin{ background-position: -512px -64px; width: 16px; height: 16px; } 
.tango-emotes-face-kiss{ background-position: -544px -64px; width: 16px; height: 16px; } 
.tango-emotes-face-monkey{ background-position: -576px -64px; width: 16px; height: 16px; } 
.tango-emotes-face-plain{ background-position: -608px -64px; width: 16px; height: 16px; } 
.tango-emotes-face-sad{ background-position: -640px -64px; width: 16px; height: 16px; } 
.tango-emotes-face-smile-big{ background-position: -672px -64px; width: 16px; height: 16px; } 
.tango-emotes-face-smile{ background-position: -704px -64px; width: 16px; height: 16px; } 
.tango-emotes-face-surprise{ background-position: -736px -64px; width: 16px; height: 16px; } 
.tango-emotes-face-wink{ background-position: -768px -64px; width: 16px; height: 16px; } 
.tango-mimetypes-application-certificate{ background-position: -800px -64px; width: 16px; height: 16px; } 
.tango-mimetypes-application-x-executable{ background-position: -832px -64px; width: 16px; height: 16px; } 
.tango-mimetypes-audio-x-generic{ background-position: -864px -64px; width: 16px; height: 16px; } 
.tango-mimetypes-font-x-generic{ background-position: -896px -64px; width: 16px; height: 16px; } 
.tango-mimetypes-image-x-generic{ background-position: -928px -64px; width: 16px; height: 16px; } 
.tango-mimetypes-package-x-generic{ background-position: -960px -64px; width: 16px; height: 16px; } 
.tango-mimetypes-text-html{ background-position: -992px -64px; width: 16px; height: 16px; } 
.tango-mimetypes-text-x-generic-template{ background-position: -1024px -64px; width: 16px; height: 16px; } 
.tango-mimetypes-text-x-generic{ background-position: -1056px -64px; width: 16px; height: 16px; } 
.tango-mimetypes-text-x-script{ background-position: -1088px -64px; width: 16px; height: 16px; } 
.tango-mimetypes-video-x-generic{ background-position: -1120px -64px; width: 16px; height: 16px; } 
.tango-mimetypes-x-office-address-book{ background-position: -1152px -64px; width: 16px; height: 16px; } 
.tango-mimetypes-x-office-calendar{ background-position: -1184px -64px; width: 16px; height: 16px; } 
.tango-mimetypes-x-office-document-template{ background-position: -1216px -64px; width: 16px; height: 16px; } 
.tango-mimetypes-x-office-document{ background-position: -1248px -64px; width: 16px; height: 16px; } 
.tango-mimetypes-x-office-drawing-template{ background-position: -1280px -64px; width: 16px; height: 16px; } 
.tango-mimetypes-x-office-drawing{ background-position: -1312px -64px; width: 16px; height: 16px; } 
.tango-mimetypes-x-office-presentation-template{ background-position: -1344px -64px; width: 16px; height: 16px; } 
.tango-mimetypes-x-office-presentation{ background-position: -1376px -64px; width: 16px; height: 16px; } 
.tango-mimetypes-x-office-spreadsheet-template{ background-position: -1408px -64px; width: 16px; height: 16px; } 
.tango-mimetypes-x-office-spreadsheet{ background-position: -1440px -64px; width: 16px; height: 16px; } 
.tango-places-folder-remote{ background-position: -1472px -64px; width: 16px; height: 16px; } 
.tango-places-folder-saved-search{ background-position: -1504px -64px; width: 16px; height: 16px; } 
.tango-places-folder{ background-position: -1536px -64px; width: 16px; height: 16px; } 
.tango-places-network-server{ background-position: -1568px -64px; width: 16px; height: 16px; } 
.tango-places-network-workgroup{ background-position: -1600px -64px; width: 16px; height: 16px; } 
.tango-places-start-here{ background-position: -1632px -64px; width: 16px; height: 16px; } 
.tango-places-user-desktop{ background-position: -1664px -64px; width: 16px; height: 16px; } 
.tango-places-user-home{ background-position: -1696px -64px; width: 16px; height: 16px; } 
.tango-places-user-trash{ background-position: -1728px -64px; width: 16px; height: 16px; } 
.tango-status-audio-volume-high{ background-position: -1760px -64px; width: 16px; height: 16px; } 
.tango-status-audio-volume-low{ background-position: -1792px -64px; width: 16px; height: 16px; } 
.tango-status-audio-volume-medium{ background-position: -1824px -64px; width: 16px; height: 16px; } 
.tango-status-audio-volume-muted{ background-position: -1856px -64px; width: 16px; height: 16px; } 
.tango-status-battery-caution{ background-position: -1888px -64px; width: 16px; height: 16px; } 
.tango-status-dialog-error{ background-position: -1920px -64px; width: 16px; height: 16px; } 
.tango-status-dialog-information{ background-position: -1952px -64px; width: 16px; height: 16px; } 
.tango-status-dialog-warning{ background-position: 0 -96px; width: 16px; height: 16px; } 
.tango-status-folder-drag-accept{ background-position: -32px -96px; width: 16px; height: 16px; } 
.tango-status-folder-open{ background-position: -64px -96px; width: 16px; height: 16px; } 
.tango-status-folder-visiting{ background-position: -96px -96px; width: 16px; height: 16px; } 
.tango-status-image-loading{ background-position: -128px -96px; width: 16px; height: 16px; } 
.tango-status-image-missing{ background-position: -160px -96px; width: 16px; height: 16px; } 
.tango-status-mail-attachment{ background-position: -192px -96px; width: 16px; height: 16px; } 
.tango-status-network-error{ background-position: -224px -96px; width: 16px; height: 16px; } 
.tango-status-network-idle{ background-position: -256px -96px; width: 16px; height: 16px; } 
.tango-status-network-offline{ background-position: -288px -96px; width: 16px; height: 16px; } 
.tango-status-network-receive{ background-position: -320px -96px; width: 16px; height: 16px; } 
.tango-status-network-transmit-receive{ background-position: -352px -96px; width: 16px; height: 16px; } 
.tango-status-network-transmit{ background-position: -384px -96px; width: 16px; height: 16px; } 
.tango-status-network-wireless-encrypted{ background-position: -416px -96px; width: 16px; height: 16px; } 
.tango-status-printer-error{ background-position: -448px -96px; width: 16px; height: 16px; } 
.tango-status-software-update-available{ background-position: -480px -96px; width: 16px; height: 16px; } 
.tango-status-software-update-urgent{ background-position: -512px -96px; width: 16px; height: 16px; } 
.tango-status-user-trash-full{ background-position: -544px -96px; width: 16px; height: 16px; } 
.tango-status-weather-clear-night{ background-position: -576px -96px; width: 16px; height: 16px; } 
.tango-status-weather-clear{ background-position: -608px -96px; width: 16px; height: 16px; } 
.tango-status-weather-few-clouds-night{ background-position: -640px -96px; width: 16px; height: 16px; } 
.tango-status-weather-few-clouds{ background-position: -672px -96px; width: 16px; height: 16px; } 
.tango-status-weather-overcast{ background-position: -704px -96px; width: 16px; height: 16px; } 
.tango-status-weather-severe-alert{ background-position: -736px -96px; width: 16px; height: 16px; } 
.tango-status-weather-showers-scattered{ background-position: -768px -96px; width: 16px; height: 16px; } 
.tango-status-weather-showers{ background-position: -800px -96px; width: 16px; height: 16px; } 
.tango-status-weather-snow{ background-position: -832px -96px; width: 16px; height: 16px; } 
.tango-status-weather-storm{ background-position: -864px -96px; width: 16px; height: 16px; } 
