[class^="tango32-"], [class*=" tango32-"] { background: url(../img/tango32.png) no-repeat top left; display: inline-block; height: 32px; line-height: 32px; margin-bottom: 1px; vertical-align: middle;width: 32px; }
.tango32-actions-address-book-new{ background-position: 0 0; width: 32px; height: 32px; } 
.tango32-actions-appointment-new{ background-position: 0 -64px; width: 32px; height: 32px; } 
.tango32-actions-bookmark-new{ background-position: 0 -128px; width: 32px; height: 32px; } 
.tango32-actions-contact-new{ background-position: 0 -192px; width: 32px; height: 32px; } 
.tango32-actions-document-new{ background-position: 0 -256px; width: 32px; height: 32px; } 
.tango32-actions-document-open{ background-position: 0 -320px; width: 32px; height: 32px; } 
.tango32-actions-document-print-preview{ background-position: 0 -384px; width: 32px; height: 32px; } 
.tango32-actions-document-print{ background-position: 0 -448px; width: 32px; height: 32px; } 
.tango32-actions-document-properties{ background-position: 0 -512px; width: 32px; height: 32px; } 
.tango32-actions-document-save-as{ background-position: 0 -576px; width: 32px; height: 32px; } 
.tango32-actions-document-save{ background-position: 0 -640px; width: 32px; height: 32px; } 
.tango32-actions-edit-clear{ background-position: 0 -704px; width: 32px; height: 32px; } 
.tango32-actions-edit-copy{ background-position: 0 -768px; width: 32px; height: 32px; } 
.tango32-actions-edit-cut{ background-position: 0 -832px; width: 32px; height: 32px; } 
.tango32-actions-edit-delete{ background-position: 0 -896px; width: 32px; height: 32px; } 
.tango32-actions-edit-find-replace{ background-position: 0 -960px; width: 32px; height: 32px; } 
.tango32-actions-edit-find{ background-position: 0 -1024px; width: 32px; height: 32px; } 
.tango32-actions-edit-paste{ background-position: 0 -1088px; width: 32px; height: 32px; } 
.tango32-actions-edit-redo{ background-position: 0 -1152px; width: 32px; height: 32px; } 
.tango32-actions-edit-select-all{ background-position: 0 -1216px; width: 32px; height: 32px; } 
.tango32-actions-edit-undo{ background-position: 0 -1280px; width: 32px; height: 32px; } 
.tango32-actions-folder-new{ background-position: 0 -1344px; width: 32px; height: 32px; } 
.tango32-actions-format-indent-less{ background-position: 0 -1408px; width: 32px; height: 32px; } 
.tango32-actions-format-indent-more{ background-position: 0 -1472px; width: 32px; height: 32px; } 
.tango32-actions-format-justify-center{ background-position: 0 -1536px; width: 32px; height: 32px; } 
.tango32-actions-format-justify-fill{ background-position: 0 -1600px; width: 32px; height: 32px; } 
.tango32-actions-format-justify-left{ background-position: 0 -1664px; width: 32px; height: 32px; } 
.tango32-actions-format-justify-right{ background-position: 0 -1728px; width: 32px; height: 32px; } 
.tango32-actions-format-text-bold{ background-position: 0 -1792px; width: 32px; height: 32px; } 
.tango32-actions-format-text-italic{ background-position: 0 -1856px; width: 32px; height: 32px; } 
.tango32-actions-format-text-strikethrough{ background-position: 0 -1920px; width: 32px; height: 32px; } 
.tango32-actions-format-text-underline{ background-position: -64px 0; width: 32px; height: 32px; } 
.tango32-actions-go-bottom{ background-position: -64px -64px; width: 32px; height: 32px; } 
.tango32-actions-go-down{ background-position: -64px -128px; width: 32px; height: 32px; } 
.tango32-actions-go-first{ background-position: -64px -192px; width: 32px; height: 32px; } 
.tango32-actions-go-home{ background-position: -64px -256px; width: 32px; height: 32px; } 
.tango32-actions-go-jump{ background-position: -64px -320px; width: 32px; height: 32px; } 
.tango32-actions-go-last{ background-position: -64px -384px; width: 32px; height: 32px; } 
.tango32-actions-go-next{ background-position: -64px -448px; width: 32px; height: 32px; } 
.tango32-actions-go-previous{ background-position: -64px -512px; width: 32px; height: 32px; } 
.tango32-actions-go-top{ background-position: -64px -576px; width: 32px; height: 32px; } 
.tango32-actions-go-up{ background-position: -64px -640px; width: 32px; height: 32px; } 
.tango32-actions-list-add{ background-position: -64px -704px; width: 32px; height: 32px; } 
.tango32-actions-list-remove{ background-position: -64px -768px; width: 32px; height: 32px; } 
.tango32-actions-mail-forward{ background-position: -64px -832px; width: 32px; height: 32px; } 
.tango32-actions-mail-mark-junk{ background-position: -64px -896px; width: 32px; height: 32px; } 
.tango32-actions-mail-mark-not-junk{ background-position: -64px -960px; width: 32px; height: 32px; } 
.tango32-actions-mail-message-new{ background-position: -64px -1024px; width: 32px; height: 32px; } 
.tango32-actions-mail-reply-all{ background-position: -64px -1088px; width: 32px; height: 32px; } 
.tango32-actions-mail-reply-sender{ background-position: -64px -1152px; width: 32px; height: 32px; } 
.tango32-actions-mail-send-receive{ background-position: -64px -1216px; width: 32px; height: 32px; } 
.tango32-actions-media-eject{ background-position: -64px -1280px; width: 32px; height: 32px; } 
.tango32-actions-media-playback-pause{ background-position: -64px -1344px; width: 32px; height: 32px; } 
.tango32-actions-media-playback-start{ background-position: -64px -1408px; width: 32px; height: 32px; } 
.tango32-actions-media-playback-stop{ background-position: -64px -1472px; width: 32px; height: 32px; } 
.tango32-actions-media-record{ background-position: -64px -1536px; width: 32px; height: 32px; } 
.tango32-actions-media-seek-backward{ background-position: -64px -1600px; width: 32px; height: 32px; } 
.tango32-actions-media-seek-forward{ background-position: -64px -1664px; width: 32px; height: 32px; } 
.tango32-actions-media-skip-backward{ background-position: -64px -1728px; width: 32px; height: 32px; } 
.tango32-actions-media-skip-forward{ background-position: -64px -1792px; width: 32px; height: 32px; } 
.tango32-actions-process-stop{ background-position: -64px -1856px; width: 32px; height: 32px; } 
.tango32-actions-system-lock-screen{ background-position: -64px -1920px; width: 32px; height: 32px; } 
.tango32-actions-system-log-out{ background-position: -128px 0; width: 32px; height: 32px; } 
.tango32-actions-system-search{ background-position: -128px -64px; width: 32px; height: 32px; } 
.tango32-actions-system-shutdown{ background-position: -128px -128px; width: 32px; height: 32px; } 
.tango32-actions-tab-new{ background-position: -128px -192px; width: 32px; height: 32px; } 
.tango32-actions-view-fullscreen{ background-position: -128px -256px; width: 32px; height: 32px; } 
.tango32-actions-view-refresh{ background-position: -128px -320px; width: 32px; height: 32px; } 
.tango32-actions-window-new{ background-position: -128px -384px; width: 32px; height: 32px; } 
.tango32-apps-accessories-calculator{ background-position: -128px -448px; width: 32px; height: 32px; } 
.tango32-apps-accessories-character-map{ background-position: -128px -512px; width: 32px; height: 32px; } 
.tango32-apps-accessories-text-editor{ background-position: -128px -576px; width: 32px; height: 32px; } 
.tango32-apps-help-browser{ background-position: -128px -640px; width: 32px; height: 32px; } 
.tango32-apps-internet-group-chat{ background-position: -128px -704px; width: 32px; height: 32px; } 
.tango32-apps-internet-mail{ background-position: -128px -768px; width: 32px; height: 32px; } 
.tango32-apps-internet-news-reader{ background-position: -128px -832px; width: 32px; height: 32px; } 
.tango32-apps-internet-web-browser{ background-position: -128px -896px; width: 32px; height: 32px; } 
.tango32-apps-office-calendar{ background-position: -128px -960px; width: 32px; height: 32px; } 
.tango32-apps-preferences-desktop-accessibility{ background-position: -128px -1024px; width: 32px; height: 32px; } 
.tango32-apps-preferences-desktop-assistive-technology{ background-position: -128px -1088px; width: 32px; height: 32px; } 
.tango32-apps-preferences-desktop-font{ background-position: -128px -1152px; width: 32px; height: 32px; } 
.tango32-apps-preferences-desktop-keyboard-shortcuts{ background-position: -128px -1216px; width: 32px; height: 32px; } 
.tango32-apps-preferences-desktop-locale{ background-position: -128px -1280px; width: 32px; height: 32px; } 
.tango32-apps-preferences-desktop-multimedia{ background-position: -128px -1344px; width: 32px; height: 32px; } 
.tango32-apps-preferences-desktop-remote-desktop{ background-position: -128px -1408px; width: 32px; height: 32px; } 
.tango32-apps-preferences-desktop-screensaver{ background-position: -128px -1472px; width: 32px; height: 32px; } 
.tango32-apps-preferences-desktop-theme{ background-position: -128px -1536px; width: 32px; height: 32px; } 
.tango32-apps-preferences-desktop-wallpaper{ background-position: -128px -1600px; width: 32px; height: 32px; } 
.tango32-apps-preferences-system-network-proxy{ background-position: -128px -1664px; width: 32px; height: 32px; } 
.tango32-apps-preferences-system-session{ background-position: -128px -1728px; width: 32px; height: 32px; } 
.tango32-apps-preferences-system-windows{ background-position: -128px -1792px; width: 32px; height: 32px; } 
.tango32-apps-system-file-manager{ background-position: -128px -1856px; width: 32px; height: 32px; } 
.tango32-apps-system-installer{ background-position: -128px -1920px; width: 32px; height: 32px; } 
.tango32-apps-system-software-update{ background-position: -192px 0; width: 32px; height: 32px; } 
.tango32-apps-system-users{ background-position: -192px -64px; width: 32px; height: 32px; } 
.tango32-apps-utilities-system-monitor{ background-position: -192px -128px; width: 32px; height: 32px; } 
.tango32-apps-utilities-terminal{ background-position: -192px -192px; width: 32px; height: 32px; } 
.tango32-categories-applications-accessories{ background-position: -192px -256px; width: 32px; height: 32px; } 
.tango32-categories-applications-development{ background-position: -192px -320px; width: 32px; height: 32px; } 
.tango32-categories-applications-games{ background-position: -192px -384px; width: 32px; height: 32px; } 
.tango32-categories-applications-graphics{ background-position: -192px -448px; width: 32px; height: 32px; } 
.tango32-categories-applications-internet{ background-position: -192px -512px; width: 32px; height: 32px; } 
.tango32-categories-applications-multimedia{ background-position: -192px -576px; width: 32px; height: 32px; } 
.tango32-categories-applications-office{ background-position: -192px -640px; width: 32px; height: 32px; } 
.tango32-categories-applications-other{ background-position: -192px -704px; width: 32px; height: 32px; } 
.tango32-categories-applications-system{ background-position: -192px -768px; width: 32px; height: 32px; } 
.tango32-categories-preferences-desktop-peripherals{ background-position: -192px -832px; width: 32px; height: 32px; } 
.tango32-categories-preferences-desktop{ background-position: -192px -896px; width: 32px; height: 32px; } 
.tango32-categories-preferences-system{ background-position: -192px -960px; width: 32px; height: 32px; } 
.tango32-devices-audio-card{ background-position: -192px -1024px; width: 32px; height: 32px; } 
.tango32-devices-audio-input-microphone{ background-position: -192px -1088px; width: 32px; height: 32px; } 
.tango32-devices-battery{ background-position: -192px -1152px; width: 32px; height: 32px; } 
.tango32-devices-camera-photo{ background-position: -192px -1216px; width: 32px; height: 32px; } 
.tango32-devices-camera-video{ background-position: -192px -1280px; width: 32px; height: 32px; } 
.tango32-devices-computer{ background-position: -192px -1344px; width: 32px; height: 32px; } 
.tango32-devices-drive-harddisk{ background-position: -192px -1408px; width: 32px; height: 32px; } 
.tango32-devices-drive-optical{ background-position: -192px -1472px; width: 32px; height: 32px; } 
.tango32-devices-drive-removable-media{ background-position: -192px -1536px; width: 32px; height: 32px; } 
.tango32-devices-input-gaming{ background-position: -192px -1600px; width: 32px; height: 32px; } 
.tango32-devices-input-keyboard{ background-position: -192px -1664px; width: 32px; height: 32px; } 
.tango32-devices-input-mouse{ background-position: -192px -1728px; width: 32px; height: 32px; } 
.tango32-devices-media-flash{ background-position: -192px -1792px; width: 32px; height: 32px; } 
.tango32-devices-media-floppy{ background-position: -192px -1856px; width: 32px; height: 32px; } 
.tango32-devices-media-optical{ background-position: -192px -1920px; width: 32px; height: 32px; } 
.tango32-devices-multimedia-player{ background-position: -256px 0; width: 32px; height: 32px; } 
.tango32-devices-network-wired{ background-position: -256px -64px; width: 32px; height: 32px; } 
.tango32-devices-network-wireless{ background-position: -256px -128px; width: 32px; height: 32px; } 
.tango32-devices-printer{ background-position: -256px -192px; width: 32px; height: 32px; } 
.tango32-devices-video-display{ background-position: -256px -256px; width: 32px; height: 32px; } 
.tango32-emblems-emblem-favorite{ background-position: -256px -320px; width: 32px; height: 32px; } 
.tango32-emblems-emblem-important{ background-position: -256px -384px; width: 32px; height: 32px; } 
.tango32-emblems-emblem-photos{ background-position: -256px -448px; width: 32px; height: 32px; } 
.tango32-emblems-emblem-readonly{ background-position: -256px -512px; width: 32px; height: 32px; } 
.tango32-emblems-emblem-symbolic-link{ background-position: -256px -576px; width: 32px; height: 32px; } 
.tango32-emblems-emblem-system{ background-position: -256px -640px; width: 32px; height: 32px; } 
.tango32-emblems-emblem-unreadable{ background-position: -256px -704px; width: 32px; height: 32px; } 
.tango32-emotes-face-angel{ background-position: -256px -768px; width: 32px; height: 32px; } 
.tango32-emotes-face-crying{ background-position: -256px -832px; width: 32px; height: 32px; } 
.tango32-emotes-face-devilish{ background-position: -256px -896px; width: 32px; height: 32px; } 
.tango32-emotes-face-glasses{ background-position: -256px -960px; width: 32px; height: 32px; } 
.tango32-emotes-face-grin{ background-position: -256px -1024px; width: 32px; height: 32px; } 
.tango32-emotes-face-kiss{ background-position: -256px -1088px; width: 32px; height: 32px; } 
.tango32-emotes-face-monkey{ background-position: -256px -1152px; width: 32px; height: 32px; } 
.tango32-emotes-face-plain{ background-position: -256px -1216px; width: 32px; height: 32px; } 
.tango32-emotes-face-sad{ background-position: -256px -1280px; width: 32px; height: 32px; } 
.tango32-emotes-face-smile-big{ background-position: -256px -1344px; width: 32px; height: 32px; } 
.tango32-emotes-face-smile{ background-position: -256px -1408px; width: 32px; height: 32px; } 
.tango32-emotes-face-surprise{ background-position: -256px -1472px; width: 32px; height: 32px; } 
.tango32-emotes-face-wink{ background-position: -256px -1536px; width: 32px; height: 32px; } 
.tango32-mimetypes-application-certificate{ background-position: -256px -1600px; width: 32px; height: 32px; } 
.tango32-mimetypes-application-x-executable{ background-position: -256px -1664px; width: 32px; height: 32px; } 
.tango32-mimetypes-audio-x-generic{ background-position: -256px -1728px; width: 32px; height: 32px; } 
.tango32-mimetypes-font-x-generic{ background-position: -256px -1792px; width: 32px; height: 32px; } 
.tango32-mimetypes-image-x-generic{ background-position: -256px -1856px; width: 32px; height: 32px; } 
.tango32-mimetypes-package-x-generic{ background-position: -256px -1920px; width: 32px; height: 32px; } 
.tango32-mimetypes-text-html{ background-position: -320px 0; width: 32px; height: 32px; } 
.tango32-mimetypes-text-x-generic-template{ background-position: -320px -64px; width: 32px; height: 32px; } 
.tango32-mimetypes-text-x-generic{ background-position: -320px -128px; width: 32px; height: 32px; } 
.tango32-mimetypes-text-x-script{ background-position: -320px -192px; width: 32px; height: 32px; } 
.tango32-mimetypes-video-x-generic{ background-position: -320px -256px; width: 32px; height: 32px; } 
.tango32-mimetypes-x-office-address-book{ background-position: -320px -320px; width: 32px; height: 32px; } 
.tango32-mimetypes-x-office-calendar{ background-position: -320px -384px; width: 32px; height: 32px; } 
.tango32-mimetypes-x-office-document-template{ background-position: -320px -448px; width: 32px; height: 32px; } 
.tango32-mimetypes-x-office-document{ background-position: -320px -512px; width: 32px; height: 32px; } 
.tango32-mimetypes-x-office-drawing-template{ background-position: -320px -576px; width: 32px; height: 32px; } 
.tango32-mimetypes-x-office-drawing{ background-position: -320px -640px; width: 32px; height: 32px; } 
.tango32-mimetypes-x-office-presentation-template{ background-position: -320px -704px; width: 32px; height: 32px; } 
.tango32-mimetypes-x-office-presentation{ background-position: -320px -768px; width: 32px; height: 32px; } 
.tango32-mimetypes-x-office-spreadsheet-template{ background-position: -320px -832px; width: 32px; height: 32px; } 
.tango32-mimetypes-x-office-spreadsheet{ background-position: -320px -896px; width: 32px; height: 32px; } 
.tango32-places-folder-remote{ background-position: -320px -960px; width: 32px; height: 32px; } 
.tango32-places-folder-saved-search{ background-position: -320px -1024px; width: 32px; height: 32px; } 
.tango32-places-folder{ background-position: -320px -1088px; width: 32px; height: 32px; } 
.tango32-places-network-server{ background-position: -320px -1152px; width: 32px; height: 32px; } 
.tango32-places-network-workgroup{ background-position: -320px -1216px; width: 32px; height: 32px; } 
.tango32-places-start-here{ background-position: -320px -1280px; width: 32px; height: 32px; } 
.tango32-places-user-desktop{ background-position: -320px -1344px; width: 32px; height: 32px; } 
.tango32-places-user-home{ background-position: -320px -1408px; width: 32px; height: 32px; } 
.tango32-places-user-trash{ background-position: -320px -1472px; width: 32px; height: 32px; } 
.tango32-status-audio-volume-high{ background-position: -320px -1536px; width: 32px; height: 32px; } 
.tango32-status-audio-volume-low{ background-position: -320px -1600px; width: 32px; height: 32px; } 
.tango32-status-audio-volume-medium{ background-position: -320px -1664px; width: 32px; height: 32px; } 
.tango32-status-audio-volume-muted{ background-position: -320px -1728px; width: 32px; height: 32px; } 
.tango32-status-battery-caution{ background-position: -320px -1792px; width: 32px; height: 32px; } 
.tango32-status-dialog-error{ background-position: -320px -1856px; width: 32px; height: 32px; } 
.tango32-status-dialog-information{ background-position: -320px -1920px; width: 32px; height: 32px; } 
.tango32-status-dialog-warning{ background-position: -384px 0; width: 32px; height: 32px; } 
.tango32-status-folder-drag-accept{ background-position: -384px -64px; width: 32px; height: 32px; } 
.tango32-status-folder-open{ background-position: -384px -128px; width: 32px; height: 32px; } 
.tango32-status-folder-visiting{ background-position: -384px -192px; width: 32px; height: 32px; } 
.tango32-status-image-loading{ background-position: -384px -256px; width: 32px; height: 32px; } 
.tango32-status-image-missing{ background-position: -384px -320px; width: 32px; height: 32px; } 
.tango32-status-mail-attachment{ background-position: -384px -384px; width: 32px; height: 32px; } 
.tango32-status-network-error{ background-position: -384px -448px; width: 32px; height: 32px; } 
.tango32-status-network-idle{ background-position: -384px -512px; width: 32px; height: 32px; } 
.tango32-status-network-offline{ background-position: -384px -576px; width: 32px; height: 32px; } 
.tango32-status-network-receive{ background-position: -384px -640px; width: 32px; height: 32px; } 
.tango32-status-network-transmit-receive{ background-position: -384px -704px; width: 32px; height: 32px; } 
.tango32-status-network-transmit{ background-position: -384px -768px; width: 32px; height: 32px; } 
.tango32-status-network-wireless-encrypted{ background-position: -384px -832px; width: 32px; height: 32px; } 
.tango32-status-printer-error{ background-position: -384px -896px; width: 32px; height: 32px; } 
.tango32-status-software-update-available{ background-position: -384px -960px; width: 32px; height: 32px; } 
.tango32-status-software-update-urgent{ background-position: -384px -1024px; width: 32px; height: 32px; } 
.tango32-status-user-trash-full{ background-position: -384px -1088px; width: 32px; height: 32px; } 
.tango32-status-weather-clear-night{ background-position: -384px -1152px; width: 32px; height: 32px; } 
.tango32-status-weather-clear{ background-position: -384px -1216px; width: 32px; height: 32px; } 
.tango32-status-weather-few-clouds-night{ background-position: -384px -1280px; width: 32px; height: 32px; } 
.tango32-status-weather-few-clouds{ background-position: -384px -1344px; width: 32px; height: 32px; } 
.tango32-status-weather-overcast{ background-position: -384px -1408px; width: 32px; height: 32px; } 
.tango32-status-weather-severe-alert{ background-position: -384px -1472px; width: 32px; height: 32px; } 
.tango32-status-weather-showers-scattered{ background-position: -384px -1536px; width: 32px; height: 32px; } 
.tango32-status-weather-showers{ background-position: -384px -1600px; width: 32px; height: 32px; } 
.tango32-status-weather-snow{ background-position: -384px -1664px; width: 32px; height: 32px; } 
.tango32-status-weather-storm{ background-position: -384px -1728px; width: 32px; height: 32px; } 
