[class^="tango22-"], [class*=" tango22-"] { background: url(../img/tango22.png) no-repeat top left; display: inline-block; height: 22px; line-height: 22px; margin-bottom: 1px; vertical-align: middle;width: 22px; }
.tango22-actions-address-book-new{ background-position: 0 0; width: 22px; height: 22px; } 
.tango22-actions-appointment-new{ background-position: 0 -72px; width: 22px; height: 22px; } 
.tango22-actions-bookmark-new{ background-position: 0 -144px; width: 22px; height: 22px; } 
.tango22-actions-contact-new{ background-position: 0 -216px; width: 22px; height: 22px; } 
.tango22-actions-document-new{ background-position: 0 -288px; width: 22px; height: 22px; } 
.tango22-actions-document-open{ background-position: 0 -360px; width: 22px; height: 22px; } 
.tango22-actions-document-print-preview{ background-position: 0 -432px; width: 22px; height: 22px; } 
.tango22-actions-document-print{ background-position: 0 -504px; width: 22px; height: 22px; } 
.tango22-actions-document-properties{ background-position: 0 -576px; width: 22px; height: 22px; } 
.tango22-actions-document-save-as{ background-position: 0 -648px; width: 22px; height: 22px; } 
.tango22-actions-document-save{ background-position: 0 -720px; width: 22px; height: 22px; } 
.tango22-actions-edit-clear{ background-position: 0 -792px; width: 22px; height: 22px; } 
.tango22-actions-edit-copy{ background-position: 0 -864px; width: 22px; height: 22px; } 
.tango22-actions-edit-cut{ background-position: 0 -936px; width: 22px; height: 22px; } 
.tango22-actions-edit-delete{ background-position: 0 -1008px; width: 22px; height: 22px; } 
.tango22-actions-edit-find-replace{ background-position: 0 -1080px; width: 22px; height: 22px; } 
.tango22-actions-edit-find{ background-position: 0 -1152px; width: 22px; height: 22px; } 
.tango22-actions-edit-paste{ background-position: 0 -1224px; width: 22px; height: 22px; } 
.tango22-actions-edit-redo{ background-position: 0 -1296px; width: 22px; height: 22px; } 
.tango22-actions-edit-select-all{ background-position: 0 -1368px; width: 22px; height: 22px; } 
.tango22-actions-edit-undo{ background-position: 0 -1440px; width: 22px; height: 22px; } 
.tango22-actions-folder-new{ background-position: 0 -1512px; width: 22px; height: 22px; } 
.tango22-actions-format-indent-less{ background-position: 0 -1584px; width: 22px; height: 22px; } 
.tango22-actions-format-indent-more{ background-position: 0 -1656px; width: 22px; height: 22px; } 
.tango22-actions-format-justify-center{ background-position: 0 -1728px; width: 22px; height: 22px; } 
.tango22-actions-format-justify-fill{ background-position: 0 -1800px; width: 22px; height: 22px; } 
.tango22-actions-format-justify-left{ background-position: 0 -1872px; width: 22px; height: 22px; } 
.tango22-actions-format-justify-right{ background-position: 0 -1944px; width: 22px; height: 22px; } 
.tango22-actions-format-text-bold{ background-position: -72px 0; width: 22px; height: 22px; } 
.tango22-actions-format-text-italic{ background-position: -72px -72px; width: 22px; height: 22px; } 
.tango22-actions-format-text-strikethrough{ background-position: -72px -144px; width: 22px; height: 22px; } 
.tango22-actions-format-text-underline{ background-position: -72px -216px; width: 22px; height: 22px; } 
.tango22-actions-go-bottom{ background-position: -72px -288px; width: 22px; height: 22px; } 
.tango22-actions-go-down{ background-position: -72px -360px; width: 22px; height: 22px; } 
.tango22-actions-go-first{ background-position: -72px -432px; width: 22px; height: 22px; } 
.tango22-actions-go-home{ background-position: -72px -504px; width: 22px; height: 22px; } 
.tango22-actions-go-jump{ background-position: -72px -576px; width: 22px; height: 22px; } 
.tango22-actions-go-last{ background-position: -72px -648px; width: 22px; height: 22px; } 
.tango22-actions-go-next{ background-position: -72px -720px; width: 22px; height: 22px; } 
.tango22-actions-go-previous{ background-position: -72px -792px; width: 22px; height: 22px; } 
.tango22-actions-go-top{ background-position: -72px -864px; width: 22px; height: 22px; } 
.tango22-actions-go-up{ background-position: -72px -936px; width: 22px; height: 22px; } 
.tango22-actions-list-add{ background-position: -72px -1008px; width: 22px; height: 22px; } 
.tango22-actions-list-remove{ background-position: -72px -1080px; width: 22px; height: 22px; } 
.tango22-actions-mail-forward{ background-position: -72px -1152px; width: 22px; height: 22px; } 
.tango22-actions-mail-mark-junk{ background-position: -72px -1224px; width: 22px; height: 22px; } 
.tango22-actions-mail-mark-not-junk{ background-position: -72px -1296px; width: 22px; height: 22px; } 
.tango22-actions-mail-message-new{ background-position: -72px -1368px; width: 22px; height: 22px; } 
.tango22-actions-mail-reply-all{ background-position: -72px -1440px; width: 22px; height: 22px; } 
.tango22-actions-mail-reply-sender{ background-position: -72px -1512px; width: 22px; height: 22px; } 
.tango22-actions-mail-send-receive{ background-position: -72px -1584px; width: 22px; height: 22px; } 
.tango22-actions-media-eject{ background-position: -72px -1656px; width: 22px; height: 22px; } 
.tango22-actions-media-playback-pause{ background-position: -72px -1728px; width: 22px; height: 22px; } 
.tango22-actions-media-playback-start{ background-position: -72px -1800px; width: 22px; height: 22px; } 
.tango22-actions-media-playback-stop{ background-position: -72px -1872px; width: 22px; height: 22px; } 
.tango22-actions-media-record{ background-position: -72px -1944px; width: 22px; height: 22px; } 
.tango22-actions-media-seek-backward{ background-position: -144px 0; width: 22px; height: 22px; } 
.tango22-actions-media-seek-forward{ background-position: -144px -72px; width: 22px; height: 22px; } 
.tango22-actions-media-skip-backward{ background-position: -144px -144px; width: 22px; height: 22px; } 
.tango22-actions-media-skip-forward{ background-position: -144px -216px; width: 22px; height: 22px; } 
.tango22-actions-process-stop{ background-position: -144px -288px; width: 22px; height: 22px; } 
.tango22-actions-system-lock-screen{ background-position: -144px -360px; width: 22px; height: 22px; } 
.tango22-actions-system-log-out{ background-position: -144px -432px; width: 22px; height: 22px; } 
.tango22-actions-system-search{ background-position: -144px -504px; width: 22px; height: 22px; } 
.tango22-actions-system-shutdown{ background-position: -144px -576px; width: 22px; height: 22px; } 
.tango22-actions-tab-new{ background-position: -144px -648px; width: 22px; height: 22px; } 
.tango22-actions-view-fullscreen{ background-position: -144px -720px; width: 22px; height: 22px; } 
.tango22-actions-view-refresh{ background-position: -144px -792px; width: 22px; height: 22px; } 
.tango22-actions-window-new{ background-position: -144px -864px; width: 22px; height: 22px; } 
.tango22-apps-accessories-calculator{ background-position: -144px -936px; width: 22px; height: 22px; } 
.tango22-apps-accessories-character-map{ background-position: -144px -1008px; width: 22px; height: 22px; } 
.tango22-apps-accessories-text-editor{ background-position: -144px -1080px; width: 22px; height: 22px; } 
.tango22-apps-help-browser{ background-position: -144px -1152px; width: 22px; height: 22px; } 
.tango22-apps-internet-group-chat{ background-position: -144px -1224px; width: 22px; height: 22px; } 
.tango22-apps-internet-mail{ background-position: -144px -1296px; width: 22px; height: 22px; } 
.tango22-apps-internet-news-reader{ background-position: -144px -1368px; width: 22px; height: 22px; } 
.tango22-apps-internet-web-browser{ background-position: -144px -1440px; width: 22px; height: 22px; } 
.tango22-apps-office-calendar{ background-position: -144px -1512px; width: 22px; height: 22px; } 
.tango22-apps-preferences-desktop-accessibility{ background-position: -144px -1584px; width: 22px; height: 22px; } 
.tango22-apps-preferences-desktop-assistive-technology{ background-position: -144px -1656px; width: 22px; height: 22px; } 
.tango22-apps-preferences-desktop-font{ background-position: -144px -1728px; width: 22px; height: 22px; } 
.tango22-apps-preferences-desktop-keyboard-shortcuts{ background-position: -144px -1800px; width: 22px; height: 22px; } 
.tango22-apps-preferences-desktop-locale{ background-position: -144px -1872px; width: 22px; height: 22px; } 
.tango22-apps-preferences-desktop-multimedia{ background-position: -144px -1944px; width: 22px; height: 22px; } 
.tango22-apps-preferences-desktop-remote-desktop{ background-position: -216px 0; width: 22px; height: 22px; } 
.tango22-apps-preferences-desktop-screensaver{ background-position: -216px -72px; width: 22px; height: 22px; } 
.tango22-apps-preferences-desktop-theme{ background-position: -216px -144px; width: 22px; height: 22px; } 
.tango22-apps-preferences-desktop-wallpaper{ background-position: -216px -216px; width: 22px; height: 22px; } 
.tango22-apps-preferences-system-network-proxy{ background-position: -216px -288px; width: 22px; height: 22px; } 
.tango22-apps-preferences-system-session{ background-position: -216px -360px; width: 22px; height: 22px; } 
.tango22-apps-preferences-system-windows{ background-position: -216px -432px; width: 22px; height: 22px; } 
.tango22-apps-system-file-manager{ background-position: -216px -504px; width: 22px; height: 22px; } 
.tango22-apps-system-installer{ background-position: -216px -576px; width: 22px; height: 22px; } 
.tango22-apps-system-software-update{ background-position: -216px -648px; width: 22px; height: 22px; } 
.tango22-apps-system-users{ background-position: -216px -720px; width: 22px; height: 22px; } 
.tango22-apps-utilities-system-monitor{ background-position: -216px -792px; width: 22px; height: 22px; } 
.tango22-apps-utilities-terminal{ background-position: -216px -864px; width: 22px; height: 22px; } 
.tango22-categories-applications-accessories{ background-position: -216px -936px; width: 22px; height: 22px; } 
.tango22-categories-applications-development{ background-position: -216px -1008px; width: 22px; height: 22px; } 
.tango22-categories-applications-games{ background-position: -216px -1080px; width: 22px; height: 22px; } 
.tango22-categories-applications-graphics{ background-position: -216px -1152px; width: 22px; height: 22px; } 
.tango22-categories-applications-internet{ background-position: -216px -1224px; width: 22px; height: 22px; } 
.tango22-categories-applications-multimedia{ background-position: -216px -1296px; width: 22px; height: 22px; } 
.tango22-categories-applications-office{ background-position: -216px -1368px; width: 22px; height: 22px; } 
.tango22-categories-applications-other{ background-position: -216px -1440px; width: 22px; height: 22px; } 
.tango22-categories-applications-system{ background-position: -216px -1512px; width: 22px; height: 22px; } 
.tango22-categories-preferences-desktop-peripherals{ background-position: -216px -1584px; width: 22px; height: 22px; } 
.tango22-categories-preferences-desktop{ background-position: -216px -1656px; width: 22px; height: 22px; } 
.tango22-categories-preferences-system{ background-position: -216px -1728px; width: 22px; height: 22px; } 
.tango22-devices-audio-card{ background-position: -216px -1800px; width: 22px; height: 22px; } 
.tango22-devices-audio-input-microphone{ background-position: -216px -1872px; width: 22px; height: 22px; } 
.tango22-devices-battery{ background-position: -216px -1944px; width: 22px; height: 22px; } 
.tango22-devices-camera-photo{ background-position: -288px 0; width: 22px; height: 22px; } 
.tango22-devices-camera-video{ background-position: -288px -72px; width: 22px; height: 22px; } 
.tango22-devices-computer{ background-position: -288px -144px; width: 22px; height: 22px; } 
.tango22-devices-drive-harddisk{ background-position: -288px -216px; width: 22px; height: 22px; } 
.tango22-devices-drive-optical{ background-position: -288px -288px; width: 22px; height: 22px; } 
.tango22-devices-drive-removable-media{ background-position: -288px -360px; width: 22px; height: 22px; } 
.tango22-devices-input-gaming{ background-position: -288px -432px; width: 22px; height: 22px; } 
.tango22-devices-input-keyboard{ background-position: -288px -504px; width: 22px; height: 22px; } 
.tango22-devices-input-mouse{ background-position: -288px -576px; width: 22px; height: 22px; } 
.tango22-devices-media-flash{ background-position: -288px -648px; width: 22px; height: 22px; } 
.tango22-devices-media-floppy{ background-position: -288px -720px; width: 22px; height: 22px; } 
.tango22-devices-media-optical{ background-position: -288px -792px; width: 22px; height: 22px; } 
.tango22-devices-multimedia-player{ background-position: -288px -864px; width: 22px; height: 22px; } 
.tango22-devices-network-wired{ background-position: -288px -936px; width: 22px; height: 22px; } 
.tango22-devices-network-wireless{ background-position: -288px -1008px; width: 22px; height: 22px; } 
.tango22-devices-printer{ background-position: -288px -1080px; width: 22px; height: 22px; } 
.tango22-devices-video-display{ background-position: -288px -1152px; width: 22px; height: 22px; } 
.tango22-emblems-emblem-favorite{ background-position: -288px -1224px; width: 22px; height: 22px; } 
.tango22-emblems-emblem-important{ background-position: -288px -1296px; width: 22px; height: 22px; } 
.tango22-emblems-emblem-photos{ background-position: -288px -1368px; width: 22px; height: 22px; } 
.tango22-emblems-emblem-readonly{ background-position: -288px -1440px; width: 22px; height: 22px; } 
.tango22-emblems-emblem-symbolic-link{ background-position: -288px -1512px; width: 22px; height: 22px; } 
.tango22-emblems-emblem-system{ background-position: -288px -1584px; width: 22px; height: 22px; } 
.tango22-emblems-emblem-unreadable{ background-position: -288px -1656px; width: 22px; height: 22px; } 
.tango22-emotes-face-angel{ background-position: -288px -1728px; width: 22px; height: 22px; } 
.tango22-emotes-face-crying{ background-position: -288px -1800px; width: 22px; height: 22px; } 
.tango22-emotes-face-devilish{ background-position: -288px -1872px; width: 22px; height: 22px; } 
.tango22-emotes-face-glasses{ background-position: -288px -1944px; width: 22px; height: 22px; } 
.tango22-emotes-face-grin{ background-position: -360px 0; width: 22px; height: 22px; } 
.tango22-emotes-face-kiss{ background-position: -360px -72px; width: 22px; height: 22px; } 
.tango22-emotes-face-monkey{ background-position: -360px -144px; width: 22px; height: 22px; } 
.tango22-emotes-face-plain{ background-position: -360px -216px; width: 22px; height: 22px; } 
.tango22-emotes-face-sad{ background-position: -360px -288px; width: 22px; height: 22px; } 
.tango22-emotes-face-smile-big{ background-position: -360px -360px; width: 22px; height: 22px; } 
.tango22-emotes-face-smile{ background-position: -360px -432px; width: 22px; height: 22px; } 
.tango22-emotes-face-surprise{ background-position: -360px -504px; width: 22px; height: 22px; } 
.tango22-emotes-face-wink{ background-position: -360px -576px; width: 22px; height: 22px; } 
.tango22-mimetypes-application-certificate{ background-position: -360px -648px; width: 22px; height: 22px; } 
.tango22-mimetypes-application-x-executable{ background-position: -360px -720px; width: 22px; height: 22px; } 
.tango22-mimetypes-audio-x-generic{ background-position: -360px -792px; width: 22px; height: 22px; } 
.tango22-mimetypes-font-x-generic{ background-position: -360px -864px; width: 22px; height: 22px; } 
.tango22-mimetypes-image-x-generic{ background-position: -360px -936px; width: 22px; height: 22px; } 
.tango22-mimetypes-package-x-generic{ background-position: -360px -1008px; width: 22px; height: 22px; } 
.tango22-mimetypes-text-html{ background-position: -360px -1080px; width: 22px; height: 22px; } 
.tango22-mimetypes-text-x-generic-template{ background-position: -360px -1152px; width: 22px; height: 22px; } 
.tango22-mimetypes-text-x-generic{ background-position: -360px -1224px; width: 22px; height: 22px; } 
.tango22-mimetypes-text-x-script{ background-position: -360px -1296px; width: 22px; height: 22px; } 
.tango22-mimetypes-video-x-generic{ background-position: -360px -1368px; width: 22px; height: 22px; } 
.tango22-mimetypes-x-office-address-book{ background-position: -360px -1440px; width: 22px; height: 22px; } 
.tango22-mimetypes-x-office-calendar{ background-position: -360px -1512px; width: 22px; height: 22px; } 
.tango22-mimetypes-x-office-document-template{ background-position: -360px -1584px; width: 22px; height: 22px; } 
.tango22-mimetypes-x-office-document{ background-position: -360px -1656px; width: 22px; height: 22px; } 
.tango22-mimetypes-x-office-drawing-template{ background-position: -360px -1728px; width: 22px; height: 22px; } 
.tango22-mimetypes-x-office-drawing{ background-position: -360px -1800px; width: 22px; height: 22px; } 
.tango22-mimetypes-x-office-presentation-template{ background-position: -360px -1872px; width: 22px; height: 22px; } 
.tango22-mimetypes-x-office-presentation{ background-position: -360px -1944px; width: 22px; height: 22px; } 
.tango22-mimetypes-x-office-spreadsheet-template{ background-position: -432px 0; width: 22px; height: 22px; } 
.tango22-mimetypes-x-office-spreadsheet{ background-position: -432px -72px; width: 22px; height: 22px; } 
.tango22-places-folder-remote{ background-position: -432px -144px; width: 22px; height: 22px; } 
.tango22-places-folder-saved-search{ background-position: -432px -216px; width: 22px; height: 22px; } 
.tango22-places-folder{ background-position: -432px -288px; width: 22px; height: 22px; } 
.tango22-places-network-server{ background-position: -432px -360px; width: 22px; height: 22px; } 
.tango22-places-network-workgroup{ background-position: -432px -432px; width: 22px; height: 22px; } 
.tango22-places-start-here{ background-position: -432px -504px; width: 22px; height: 22px; } 
.tango22-places-user-desktop{ background-position: -432px -576px; width: 22px; height: 22px; } 
.tango22-places-user-home{ background-position: -432px -648px; width: 22px; height: 22px; } 
.tango22-places-user-trash{ background-position: -432px -720px; width: 22px; height: 22px; } 
.tango22-status-audio-volume-high{ background-position: -432px -792px; width: 22px; height: 22px; } 
.tango22-status-audio-volume-low{ background-position: -432px -864px; width: 22px; height: 22px; } 
.tango22-status-audio-volume-medium{ background-position: -432px -936px; width: 22px; height: 22px; } 
.tango22-status-audio-volume-muted{ background-position: -432px -1008px; width: 22px; height: 22px; } 
.tango22-status-battery-caution{ background-position: -432px -1080px; width: 22px; height: 22px; } 
.tango22-status-dialog-error{ background-position: -432px -1152px; width: 22px; height: 22px; } 
.tango22-status-dialog-information{ background-position: -432px -1224px; width: 22px; height: 22px; } 
.tango22-status-dialog-warning{ background-position: -432px -1296px; width: 22px; height: 22px; } 
.tango22-status-folder-drag-accept{ background-position: -432px -1368px; width: 22px; height: 22px; } 
.tango22-status-folder-open{ background-position: -432px -1440px; width: 22px; height: 22px; } 
.tango22-status-folder-visiting{ background-position: -432px -1512px; width: 22px; height: 22px; } 
.tango22-status-image-loading{ background-position: -432px -1584px; width: 22px; height: 22px; } 
.tango22-status-image-missing{ background-position: -432px -1656px; width: 22px; height: 22px; } 
.tango22-status-mail-attachment{ background-position: -432px -1728px; width: 22px; height: 22px; } 
.tango22-status-network-error{ background-position: -432px -1800px; width: 22px; height: 22px; } 
.tango22-status-network-idle{ background-position: -432px -1872px; width: 22px; height: 22px; } 
.tango22-status-network-offline{ background-position: -432px -1944px; width: 22px; height: 22px; } 
.tango22-status-network-receive{ background-position: -504px 0; width: 22px; height: 22px; } 
.tango22-status-network-transmit-receive{ background-position: -504px -72px; width: 22px; height: 22px; } 
.tango22-status-network-transmit{ background-position: -504px -144px; width: 22px; height: 22px; } 
.tango22-status-network-wireless-encrypted{ background-position: -504px -216px; width: 22px; height: 22px; } 
.tango22-status-printer-error{ background-position: -504px -288px; width: 22px; height: 22px; } 
.tango22-status-software-update-available{ background-position: -504px -360px; width: 22px; height: 22px; } 
.tango22-status-software-update-urgent{ background-position: -504px -432px; width: 22px; height: 22px; } 
.tango22-status-user-trash-full{ background-position: -504px -504px; width: 22px; height: 22px; } 
.tango22-status-weather-clear-night{ background-position: -504px -576px; width: 22px; height: 22px; } 
.tango22-status-weather-clear{ background-position: -504px -648px; width: 22px; height: 22px; } 
.tango22-status-weather-few-clouds-night{ background-position: -504px -720px; width: 22px; height: 22px; } 
.tango22-status-weather-few-clouds{ background-position: -504px -792px; width: 22px; height: 22px; } 
.tango22-status-weather-overcast{ background-position: -504px -864px; width: 22px; height: 22px; } 
.tango22-status-weather-severe-alert{ background-position: -504px -936px; width: 22px; height: 22px; } 
.tango22-status-weather-showers-scattered{ background-position: -504px -1008px; width: 22px; height: 22px; } 
.tango22-status-weather-showers{ background-position: -504px -1080px; width: 22px; height: 22px; } 
.tango22-status-weather-snow{ background-position: -504px -1152px; width: 22px; height: 22px; } 
.tango22-status-weather-storm{ background-position: -504px -1224px; width: 22px; height: 22px; } 
