
[class^="tangolarge-"], [class*=" tangolarge-"] { background: url(../img/tango-large.png) no-repeat top left; display: inline-block; height: 22px; line-height: 22px; margin-bottom: 1px; vertical-align: middle;width: 22px; }
.tangolarge-actions-address-book-new{ background-position: 0 0; width: 22px; height: 22px; } 
.tangolarge-actions-appointment-new{ background-position: 0 -72px; width: 22px; height: 22px; } 
.tangolarge-actions-bookmark-new{ background-position: 0 -144px; width: 22px; height: 22px; } 
.tangolarge-actions-contact-new{ background-position: 0 -216px; width: 22px; height: 22px; } 
.tangolarge-actions-document-new{ background-position: 0 -288px; width: 22px; height: 22px; } 
.tangolarge-actions-document-open{ background-position: 0 -360px; width: 22px; height: 22px; } 
.tangolarge-actions-document-print-preview{ background-position: 0 -432px; width: 22px; height: 22px; } 
.tangolarge-actions-document-print{ background-position: 0 -504px; width: 22px; height: 22px; } 
.tangolarge-actions-document-properties{ background-position: 0 -576px; width: 22px; height: 22px; } 
.tangolarge-actions-document-save-as{ background-position: 0 -648px; width: 22px; height: 22px; } 
.tangolarge-actions-document-save{ background-position: 0 -720px; width: 22px; height: 22px; } 
.tangolarge-actions-edit-clear{ background-position: 0 -792px; width: 22px; height: 22px; } 
.tangolarge-actions-edit-copy{ background-position: 0 -864px; width: 22px; height: 22px; } 
.tangolarge-actions-edit-cut{ background-position: 0 -936px; width: 22px; height: 22px; } 
.tangolarge-actions-edit-delete{ background-position: 0 -1008px; width: 22px; height: 22px; } 
.tangolarge-actions-edit-find-replace{ background-position: 0 -1080px; width: 22px; height: 22px; } 
.tangolarge-actions-edit-find{ background-position: 0 -1152px; width: 22px; height: 22px; } 
.tangolarge-actions-edit-paste{ background-position: 0 -1224px; width: 22px; height: 22px; } 
.tangolarge-actions-edit-redo{ background-position: 0 -1296px; width: 22px; height: 22px; } 
.tangolarge-actions-edit-select-all{ background-position: 0 -1368px; width: 22px; height: 22px; } 
.tangolarge-actions-edit-undo{ background-position: 0 -1440px; width: 22px; height: 22px; } 
.tangolarge-actions-folder-new{ background-position: 0 -1512px; width: 22px; height: 22px; } 
.tangolarge-actions-format-indent-less{ background-position: 0 -1584px; width: 22px; height: 22px; } 
.tangolarge-actions-format-indent-more{ background-position: 0 -1656px; width: 22px; height: 22px; } 
.tangolarge-actions-format-justify-center{ background-position: 0 -1728px; width: 22px; height: 22px; } 
.tangolarge-actions-format-justify-fill{ background-position: 0 -1800px; width: 22px; height: 22px; } 
.tangolarge-actions-format-justify-left{ background-position: 0 -1872px; width: 22px; height: 22px; } 
.tangolarge-actions-format-justify-right{ background-position: 0 -1944px; width: 22px; height: 22px; } 
.tangolarge-actions-format-text-bold{ background-position: -72px 0; width: 22px; height: 22px; } 
.tangolarge-actions-format-text-italic{ background-position: -72px -72px; width: 22px; height: 22px; } 
.tangolarge-actions-format-text-strikethrough{ background-position: -72px -144px; width: 22px; height: 22px; } 
.tangolarge-actions-format-text-underline{ background-position: -72px -216px; width: 22px; height: 22px; } 
.tangolarge-actions-go-bottom{ background-position: -72px -288px; width: 22px; height: 22px; } 
.tangolarge-actions-go-down{ background-position: -72px -360px; width: 22px; height: 22px; } 
.tangolarge-actions-go-first{ background-position: -72px -432px; width: 22px; height: 22px; } 
.tangolarge-actions-go-home{ background-position: -72px -504px; width: 22px; height: 22px; } 
.tangolarge-actions-go-jump{ background-position: -72px -576px; width: 22px; height: 22px; } 
.tangolarge-actions-go-last{ background-position: -72px -648px; width: 22px; height: 22px; } 
.tangolarge-actions-go-next{ background-position: -72px -720px; width: 22px; height: 22px; } 
.tangolarge-actions-go-previous{ background-position: -72px -792px; width: 22px; height: 22px; } 
.tangolarge-actions-go-top{ background-position: -72px -864px; width: 22px; height: 22px; } 
.tangolarge-actions-go-up{ background-position: -72px -936px; width: 22px; height: 22px; } 
.tangolarge-actions-list-add{ background-position: -72px -1008px; width: 22px; height: 22px; } 
.tangolarge-actions-list-remove{ background-position: -72px -1080px; width: 22px; height: 22px; } 
.tangolarge-actions-mail-forward{ background-position: -72px -1152px; width: 22px; height: 22px; } 
.tangolarge-actions-mail-mark-junk{ background-position: -72px -1224px; width: 22px; height: 22px; } 
.tangolarge-actions-mail-mark-not-junk{ background-position: -72px -1296px; width: 22px; height: 22px; } 
.tangolarge-actions-mail-message-new{ background-position: -72px -1368px; width: 22px; height: 22px; } 
.tangolarge-actions-mail-reply-all{ background-position: -72px -1440px; width: 22px; height: 22px; } 
.tangolarge-actions-mail-reply-sender{ background-position: -72px -1512px; width: 22px; height: 22px; } 
.tangolarge-actions-mail-send-receive{ background-position: -72px -1584px; width: 22px; height: 22px; } 
.tangolarge-actions-media-eject{ background-position: -72px -1656px; width: 22px; height: 22px; } 
.tangolarge-actions-media-playback-pause{ background-position: -72px -1728px; width: 22px; height: 22px; } 
.tangolarge-actions-media-playback-start{ background-position: -72px -1800px; width: 22px; height: 22px; } 
.tangolarge-actions-media-playback-stop{ background-position: -72px -1872px; width: 22px; height: 22px; } 
.tangolarge-actions-media-record{ background-position: -72px -1944px; width: 22px; height: 22px; } 
.tangolarge-actions-media-seek-backward{ background-position: -144px 0; width: 22px; height: 22px; } 
.tangolarge-actions-media-seek-forward{ background-position: -144px -72px; width: 22px; height: 22px; } 
.tangolarge-actions-media-skip-backward{ background-position: -144px -144px; width: 22px; height: 22px; } 
.tangolarge-actions-media-skip-forward{ background-position: -144px -216px; width: 22px; height: 22px; } 
.tangolarge-actions-process-stop{ background-position: -144px -288px; width: 22px; height: 22px; } 
.tangolarge-actions-system-lock-screen{ background-position: -144px -360px; width: 22px; height: 22px; } 
.tangolarge-actions-system-log-out{ background-position: -144px -432px; width: 22px; height: 22px; } 
.tangolarge-actions-system-search{ background-position: -144px -504px; width: 22px; height: 22px; } 
.tangolarge-actions-system-shutdown{ background-position: -144px -576px; width: 22px; height: 22px; } 
.tangolarge-actions-tab-new{ background-position: -144px -648px; width: 22px; height: 22px; } 
.tangolarge-actions-view-fullscreen{ background-position: -144px -720px; width: 22px; height: 22px; } 
.tangolarge-actions-view-refresh{ background-position: -144px -792px; width: 22px; height: 22px; } 
.tangolarge-actions-window-new{ background-position: -144px -864px; width: 22px; height: 22px; } 
.tangolarge-apps-accessories-calculator{ background-position: -144px -936px; width: 22px; height: 22px; } 
.tangolarge-apps-accessories-character-map{ background-position: -144px -1008px; width: 22px; height: 22px; } 
.tangolarge-apps-accessories-text-editor{ background-position: -144px -1080px; width: 22px; height: 22px; } 
.tangolarge-apps-help-browser{ background-position: -144px -1152px; width: 22px; height: 22px; } 
.tangolarge-apps-internet-group-chat{ background-position: -144px -1224px; width: 22px; height: 22px; } 
.tangolarge-apps-internet-mail{ background-position: -144px -1296px; width: 22px; height: 22px; } 
.tangolarge-apps-internet-news-reader{ background-position: -144px -1368px; width: 22px; height: 22px; } 
.tangolarge-apps-internet-web-browser{ background-position: -144px -1440px; width: 22px; height: 22px; } 
.tangolarge-apps-office-calendar{ background-position: -144px -1512px; width: 22px; height: 22px; } 
.tangolarge-apps-preferences-desktop-accessibility{ background-position: -144px -1584px; width: 22px; height: 22px; } 
.tangolarge-apps-preferences-desktop-assistive-technology{ background-position: -144px -1656px; width: 22px; height: 22px; } 
.tangolarge-apps-preferences-desktop-font{ background-position: -144px -1728px; width: 22px; height: 22px; } 
.tangolarge-apps-preferences-desktop-keyboard-shortcuts{ background-position: -144px -1800px; width: 22px; height: 22px; } 
.tangolarge-apps-preferences-desktop-locale{ background-position: -144px -1872px; width: 22px; height: 22px; } 
.tangolarge-apps-preferences-desktop-multimedia{ background-position: -144px -1944px; width: 22px; height: 22px; } 
.tangolarge-apps-preferences-desktop-remote-desktop{ background-position: -216px 0; width: 22px; height: 22px; } 
.tangolarge-apps-preferences-desktop-screensaver{ background-position: -216px -72px; width: 22px; height: 22px; } 
.tangolarge-apps-preferences-desktop-theme{ background-position: -216px -144px; width: 22px; height: 22px; } 
.tangolarge-apps-preferences-desktop-wallpaper{ background-position: -216px -216px; width: 22px; height: 22px; } 
.tangolarge-apps-preferences-system-network-proxy{ background-position: -216px -288px; width: 22px; height: 22px; } 
.tangolarge-apps-preferences-system-session{ background-position: -216px -360px; width: 22px; height: 22px; } 
.tangolarge-apps-preferences-system-windows{ background-position: -216px -432px; width: 22px; height: 22px; } 
.tangolarge-apps-system-file-manager{ background-position: -216px -504px; width: 22px; height: 22px; } 
.tangolarge-apps-system-installer{ background-position: -216px -576px; width: 22px; height: 22px; } 
.tangolarge-apps-system-software-update{ background-position: -216px -648px; width: 22px; height: 22px; } 
.tangolarge-apps-system-users{ background-position: -216px -720px; width: 22px; height: 22px; } 
.tangolarge-apps-utilities-system-monitor{ background-position: -216px -792px; width: 22px; height: 22px; } 
.tangolarge-apps-utilities-terminal{ background-position: -216px -864px; width: 22px; height: 22px; } 
.tangolarge-categories-applications-accessories{ background-position: -216px -936px; width: 22px; height: 22px; } 
.tangolarge-categories-applications-development{ background-position: -216px -1008px; width: 22px; height: 22px; } 
.tangolarge-categories-applications-games{ background-position: -216px -1080px; width: 22px; height: 22px; } 
.tangolarge-categories-applications-graphics{ background-position: -216px -1152px; width: 22px; height: 22px; } 
.tangolarge-categories-applications-internet{ background-position: -216px -1224px; width: 22px; height: 22px; } 
.tangolarge-categories-applications-multimedia{ background-position: -216px -1296px; width: 22px; height: 22px; } 
.tangolarge-categories-applications-office{ background-position: -216px -1368px; width: 22px; height: 22px; } 
.tangolarge-categories-applications-other{ background-position: -216px -1440px; width: 22px; height: 22px; } 
.tangolarge-categories-applications-system{ background-position: -216px -1512px; width: 22px; height: 22px; } 
.tangolarge-categories-preferences-desktop-peripherals{ background-position: -216px -1584px; width: 22px; height: 22px; } 
.tangolarge-categories-preferences-desktop{ background-position: -216px -1656px; width: 22px; height: 22px; } 
.tangolarge-categories-preferences-system{ background-position: -216px -1728px; width: 22px; height: 22px; } 
.tangolarge-devices-audio-card{ background-position: -216px -1800px; width: 22px; height: 22px; } 
.tangolarge-devices-audio-input-microphone{ background-position: -216px -1872px; width: 22px; height: 22px; } 
.tangolarge-devices-battery{ background-position: -216px -1944px; width: 22px; height: 22px; } 
.tangolarge-devices-camera-photo{ background-position: -288px 0; width: 22px; height: 22px; } 
.tangolarge-devices-camera-video{ background-position: -288px -72px; width: 22px; height: 22px; } 
.tangolarge-devices-computer{ background-position: -288px -144px; width: 22px; height: 22px; } 
.tangolarge-devices-drive-harddisk{ background-position: -288px -216px; width: 22px; height: 22px; } 
.tangolarge-devices-drive-optical{ background-position: -288px -288px; width: 22px; height: 22px; } 
.tangolarge-devices-drive-removable-media{ background-position: -288px -360px; width: 22px; height: 22px; } 
.tangolarge-devices-input-gaming{ background-position: -288px -432px; width: 22px; height: 22px; } 
.tangolarge-devices-input-keyboard{ background-position: -288px -504px; width: 22px; height: 22px; } 
.tangolarge-devices-input-mouse{ background-position: -288px -576px; width: 22px; height: 22px; } 
.tangolarge-devices-media-flash{ background-position: -288px -648px; width: 22px; height: 22px; } 
.tangolarge-devices-media-floppy{ background-position: -288px -720px; width: 22px; height: 22px; } 
.tangolarge-devices-media-optical{ background-position: -288px -792px; width: 22px; height: 22px; } 
.tangolarge-devices-multimedia-player{ background-position: -288px -864px; width: 22px; height: 22px; } 
.tangolarge-devices-network-wired{ background-position: -288px -936px; width: 22px; height: 22px; } 
.tangolarge-devices-network-wireless{ background-position: -288px -1008px; width: 22px; height: 22px; } 
.tangolarge-devices-printer{ background-position: -288px -1080px; width: 22px; height: 22px; } 
.tangolarge-devices-video-display{ background-position: -288px -1152px; width: 22px; height: 22px; } 
.tangolarge-emblems-emblem-favorite{ background-position: -288px -1224px; width: 22px; height: 22px; } 
.tangolarge-emblems-emblem-important{ background-position: -288px -1296px; width: 22px; height: 22px; } 
.tangolarge-emblems-emblem-photos{ background-position: -288px -1368px; width: 22px; height: 22px; } 
.tangolarge-emblems-emblem-readonly{ background-position: -288px -1440px; width: 22px; height: 22px; } 
.tangolarge-emblems-emblem-symbolic-link{ background-position: -288px -1512px; width: 22px; height: 22px; } 
.tangolarge-emblems-emblem-system{ background-position: -288px -1584px; width: 22px; height: 22px; } 
.tangolarge-emblems-emblem-unreadable{ background-position: -288px -1656px; width: 22px; height: 22px; } 
.tangolarge-emotes-face-angel{ background-position: -288px -1728px; width: 22px; height: 22px; } 
.tangolarge-emotes-face-crying{ background-position: -288px -1800px; width: 22px; height: 22px; } 
.tangolarge-emotes-face-devilish{ background-position: -288px -1872px; width: 22px; height: 22px; } 
.tangolarge-emotes-face-glasses{ background-position: -288px -1944px; width: 22px; height: 22px; } 
.tangolarge-emotes-face-grin{ background-position: -360px 0; width: 22px; height: 22px; } 
.tangolarge-emotes-face-kiss{ background-position: -360px -72px; width: 22px; height: 22px; } 
.tangolarge-emotes-face-monkey{ background-position: -360px -144px; width: 22px; height: 22px; } 
.tangolarge-emotes-face-plain{ background-position: -360px -216px; width: 22px; height: 22px; } 
.tangolarge-emotes-face-sad{ background-position: -360px -288px; width: 22px; height: 22px; } 
.tangolarge-emotes-face-smile-big{ background-position: -360px -360px; width: 22px; height: 22px; } 
.tangolarge-emotes-face-smile{ background-position: -360px -432px; width: 22px; height: 22px; } 
.tangolarge-emotes-face-surprise{ background-position: -360px -504px; width: 22px; height: 22px; } 
.tangolarge-emotes-face-wink{ background-position: -360px -576px; width: 22px; height: 22px; } 
.tangolarge-mimetypes-application-certificate{ background-position: -360px -648px; width: 22px; height: 22px; } 
.tangolarge-mimetypes-application-x-executable{ background-position: -360px -720px; width: 22px; height: 22px; } 
.tangolarge-mimetypes-audio-x-generic{ background-position: -360px -792px; width: 22px; height: 22px; } 
.tangolarge-mimetypes-font-x-generic{ background-position: -360px -864px; width: 22px; height: 22px; } 
.tangolarge-mimetypes-image-x-generic{ background-position: -360px -936px; width: 22px; height: 22px; } 
.tangolarge-mimetypes-package-x-generic{ background-position: -360px -1008px; width: 22px; height: 22px; } 
.tangolarge-mimetypes-text-html{ background-position: -360px -1080px; width: 22px; height: 22px; } 
.tangolarge-mimetypes-text-x-generic-template{ background-position: -360px -1152px; width: 22px; height: 22px; } 
.tangolarge-mimetypes-text-x-generic{ background-position: -360px -1224px; width: 22px; height: 22px; } 
.tangolarge-mimetypes-text-x-script{ background-position: -360px -1296px; width: 22px; height: 22px; } 
.tangolarge-mimetypes-video-x-generic{ background-position: -360px -1368px; width: 22px; height: 22px; } 
.tangolarge-mimetypes-x-office-address-book{ background-position: -360px -1440px; width: 22px; height: 22px; } 
.tangolarge-mimetypes-x-office-calendar{ background-position: -360px -1512px; width: 22px; height: 22px; } 
.tangolarge-mimetypes-x-office-document-template{ background-position: -360px -1584px; width: 22px; height: 22px; } 
.tangolarge-mimetypes-x-office-document{ background-position: -360px -1656px; width: 22px; height: 22px; } 
.tangolarge-mimetypes-x-office-drawing-template{ background-position: -360px -1728px; width: 22px; height: 22px; } 
.tangolarge-mimetypes-x-office-drawing{ background-position: -360px -1800px; width: 22px; height: 22px; } 
.tangolarge-mimetypes-x-office-presentation-template{ background-position: -360px -1872px; width: 22px; height: 22px; } 
.tangolarge-mimetypes-x-office-presentation{ background-position: -360px -1944px; width: 22px; height: 22px; } 
.tangolarge-mimetypes-x-office-spreadsheet-template{ background-position: -432px 0; width: 22px; height: 22px; } 
.tangolarge-mimetypes-x-office-spreadsheet{ background-position: -432px -72px; width: 22px; height: 22px; } 
.tangolarge-places-folder-remote{ background-position: -432px -144px; width: 22px; height: 22px; } 
.tangolarge-places-folder-saved-search{ background-position: -432px -216px; width: 22px; height: 22px; } 
.tangolarge-places-folder{ background-position: -432px -288px; width: 22px; height: 22px; } 
.tangolarge-places-network-server{ background-position: -432px -360px; width: 22px; height: 22px; } 
.tangolarge-places-network-workgroup{ background-position: -432px -432px; width: 22px; height: 22px; } 
.tangolarge-places-start-here{ background-position: -432px -504px; width: 22px; height: 22px; } 
.tangolarge-places-user-desktop{ background-position: -432px -576px; width: 22px; height: 22px; } 
.tangolarge-places-user-home{ background-position: -432px -648px; width: 22px; height: 22px; } 
.tangolarge-places-user-trash{ background-position: -432px -720px; width: 22px; height: 22px; } 
.tangolarge-status-audio-volume-high{ background-position: -432px -792px; width: 22px; height: 22px; } 
.tangolarge-status-audio-volume-low{ background-position: -432px -864px; width: 22px; height: 22px; } 
.tangolarge-status-audio-volume-medium{ background-position: -432px -936px; width: 22px; height: 22px; } 
.tangolarge-status-audio-volume-muted{ background-position: -432px -1008px; width: 22px; height: 22px; } 
.tangolarge-status-battery-caution{ background-position: -432px -1080px; width: 22px; height: 22px; } 
.tangolarge-status-dialog-error{ background-position: -432px -1152px; width: 22px; height: 22px; } 
.tangolarge-status-dialog-information{ background-position: -432px -1224px; width: 22px; height: 22px; } 
.tangolarge-status-dialog-warning{ background-position: -432px -1296px; width: 22px; height: 22px; } 
.tangolarge-status-folder-drag-accept{ background-position: -432px -1368px; width: 22px; height: 22px; } 
.tangolarge-status-folder-open{ background-position: -432px -1440px; width: 22px; height: 22px; } 
.tangolarge-status-folder-visiting{ background-position: -432px -1512px; width: 22px; height: 22px; } 
.tangolarge-status-image-loading{ background-position: -432px -1584px; width: 22px; height: 22px; } 
.tangolarge-status-image-missing{ background-position: -432px -1656px; width: 22px; height: 22px; } 
.tangolarge-status-mail-attachment{ background-position: -432px -1728px; width: 22px; height: 22px; } 
.tangolarge-status-network-error{ background-position: -432px -1800px; width: 22px; height: 22px; } 
.tangolarge-status-network-idle{ background-position: -432px -1872px; width: 22px; height: 22px; } 
.tangolarge-status-network-offline{ background-position: -432px -1944px; width: 22px; height: 22px; } 
.tangolarge-status-network-receive{ background-position: -504px 0; width: 22px; height: 22px; } 
.tangolarge-status-network-transmit-receive{ background-position: -504px -72px; width: 22px; height: 22px; } 
.tangolarge-status-network-transmit{ background-position: -504px -144px; width: 22px; height: 22px; } 
.tangolarge-status-network-wireless-encrypted{ background-position: -504px -216px; width: 22px; height: 22px; } 
.tangolarge-status-printer-error{ background-position: -504px -288px; width: 22px; height: 22px; } 
.tangolarge-status-software-update-available{ background-position: -504px -360px; width: 22px; height: 22px; } 
.tangolarge-status-software-update-urgent{ background-position: -504px -432px; width: 22px; height: 22px; } 
.tangolarge-status-user-trash-full{ background-position: -504px -504px; width: 22px; height: 22px; } 
.tangolarge-status-weather-clear-night{ background-position: -504px -576px; width: 22px; height: 22px; } 
.tangolarge-status-weather-clear{ background-position: -504px -648px; width: 22px; height: 22px; } 
.tangolarge-status-weather-few-clouds-night{ background-position: -504px -720px; width: 22px; height: 22px; } 
.tangolarge-status-weather-few-clouds{ background-position: -504px -792px; width: 22px; height: 22px; } 
.tangolarge-status-weather-overcast{ background-position: -504px -864px; width: 22px; height: 22px; } 
.tangolarge-status-weather-severe-alert{ background-position: -504px -936px; width: 22px; height: 22px; } 
.tangolarge-status-weather-showers-scattered{ background-position: -504px -1008px; width: 22px; height: 22px; } 
.tangolarge-status-weather-showers{ background-position: -504px -1080px; width: 22px; height: 22px; } 
.tangolarge-status-weather-snow{ background-position: -504px -1152px; width: 22px; height: 22px; } 
.tangolarge-status-weather-storm{ background-position: -504px -1224px; width: 22px; height: 22px; } 

[class^="tangoxlarge-"], [class*=" tangoxlarge-"] { background: url(../img/tango-xlarge.png) no-repeat top left; display: inline-block; height: 32px; line-height: 32px; margin-bottom: 1px; vertical-align: middle;width: 32px; }
.tangoxlarge-actions-address-book-new{ background-position: 0 0; width: 32px; height: 32px; } 
.tangoxlarge-actions-appointment-new{ background-position: 0 -64px; width: 32px; height: 32px; } 
.tangoxlarge-actions-bookmark-new{ background-position: 0 -128px; width: 32px; height: 32px; } 
.tangoxlarge-actions-contact-new{ background-position: 0 -192px; width: 32px; height: 32px; } 
.tangoxlarge-actions-document-new{ background-position: 0 -256px; width: 32px; height: 32px; } 
.tangoxlarge-actions-document-open{ background-position: 0 -320px; width: 32px; height: 32px; } 
.tangoxlarge-actions-document-print-preview{ background-position: 0 -384px; width: 32px; height: 32px; } 
.tangoxlarge-actions-document-print{ background-position: 0 -448px; width: 32px; height: 32px; } 
.tangoxlarge-actions-document-properties{ background-position: 0 -512px; width: 32px; height: 32px; } 
.tangoxlarge-actions-document-save-as{ background-position: 0 -576px; width: 32px; height: 32px; } 
.tangoxlarge-actions-document-save{ background-position: 0 -640px; width: 32px; height: 32px; } 
.tangoxlarge-actions-edit-clear{ background-position: 0 -704px; width: 32px; height: 32px; } 
.tangoxlarge-actions-edit-copy{ background-position: 0 -768px; width: 32px; height: 32px; } 
.tangoxlarge-actions-edit-cut{ background-position: 0 -832px; width: 32px; height: 32px; } 
.tangoxlarge-actions-edit-delete{ background-position: 0 -896px; width: 32px; height: 32px; } 
.tangoxlarge-actions-edit-find-replace{ background-position: 0 -960px; width: 32px; height: 32px; } 
.tangoxlarge-actions-edit-find{ background-position: 0 -1024px; width: 32px; height: 32px; } 
.tangoxlarge-actions-edit-paste{ background-position: 0 -1088px; width: 32px; height: 32px; } 
.tangoxlarge-actions-edit-redo{ background-position: 0 -1152px; width: 32px; height: 32px; } 
.tangoxlarge-actions-edit-select-all{ background-position: 0 -1216px; width: 32px; height: 32px; } 
.tangoxlarge-actions-edit-undo{ background-position: 0 -1280px; width: 32px; height: 32px; } 
.tangoxlarge-actions-folder-new{ background-position: 0 -1344px; width: 32px; height: 32px; } 
.tangoxlarge-actions-format-indent-less{ background-position: 0 -1408px; width: 32px; height: 32px; } 
.tangoxlarge-actions-format-indent-more{ background-position: 0 -1472px; width: 32px; height: 32px; } 
.tangoxlarge-actions-format-justify-center{ background-position: 0 -1536px; width: 32px; height: 32px; } 
.tangoxlarge-actions-format-justify-fill{ background-position: 0 -1600px; width: 32px; height: 32px; } 
.tangoxlarge-actions-format-justify-left{ background-position: 0 -1664px; width: 32px; height: 32px; } 
.tangoxlarge-actions-format-justify-right{ background-position: 0 -1728px; width: 32px; height: 32px; } 
.tangoxlarge-actions-format-text-bold{ background-position: 0 -1792px; width: 32px; height: 32px; } 
.tangoxlarge-actions-format-text-italic{ background-position: 0 -1856px; width: 32px; height: 32px; } 
.tangoxlarge-actions-format-text-strikethrough{ background-position: 0 -1920px; width: 32px; height: 32px; } 
.tangoxlarge-actions-format-text-underline{ background-position: -64px 0; width: 32px; height: 32px; } 
.tangoxlarge-actions-go-bottom{ background-position: -64px -64px; width: 32px; height: 32px; } 
.tangoxlarge-actions-go-down{ background-position: -64px -128px; width: 32px; height: 32px; } 
.tangoxlarge-actions-go-first{ background-position: -64px -192px; width: 32px; height: 32px; } 
.tangoxlarge-actions-go-home{ background-position: -64px -256px; width: 32px; height: 32px; } 
.tangoxlarge-actions-go-jump{ background-position: -64px -320px; width: 32px; height: 32px; } 
.tangoxlarge-actions-go-last{ background-position: -64px -384px; width: 32px; height: 32px; } 
.tangoxlarge-actions-go-next{ background-position: -64px -448px; width: 32px; height: 32px; } 
.tangoxlarge-actions-go-previous{ background-position: -64px -512px; width: 32px; height: 32px; } 
.tangoxlarge-actions-go-top{ background-position: -64px -576px; width: 32px; height: 32px; } 
.tangoxlarge-actions-go-up{ background-position: -64px -640px; width: 32px; height: 32px; } 
.tangoxlarge-actions-list-add{ background-position: -64px -704px; width: 32px; height: 32px; } 
.tangoxlarge-actions-list-remove{ background-position: -64px -768px; width: 32px; height: 32px; } 
.tangoxlarge-actions-mail-forward{ background-position: -64px -832px; width: 32px; height: 32px; } 
.tangoxlarge-actions-mail-mark-junk{ background-position: -64px -896px; width: 32px; height: 32px; } 
.tangoxlarge-actions-mail-mark-not-junk{ background-position: -64px -960px; width: 32px; height: 32px; } 
.tangoxlarge-actions-mail-message-new{ background-position: -64px -1024px; width: 32px; height: 32px; } 
.tangoxlarge-actions-mail-reply-all{ background-position: -64px -1088px; width: 32px; height: 32px; } 
.tangoxlarge-actions-mail-reply-sender{ background-position: -64px -1152px; width: 32px; height: 32px; } 
.tangoxlarge-actions-mail-send-receive{ background-position: -64px -1216px; width: 32px; height: 32px; } 
.tangoxlarge-actions-media-eject{ background-position: -64px -1280px; width: 32px; height: 32px; } 
.tangoxlarge-actions-media-playback-pause{ background-position: -64px -1344px; width: 32px; height: 32px; } 
.tangoxlarge-actions-media-playback-start{ background-position: -64px -1408px; width: 32px; height: 32px; } 
.tangoxlarge-actions-media-playback-stop{ background-position: -64px -1472px; width: 32px; height: 32px; } 
.tangoxlarge-actions-media-record{ background-position: -64px -1536px; width: 32px; height: 32px; } 
.tangoxlarge-actions-media-seek-backward{ background-position: -64px -1600px; width: 32px; height: 32px; } 
.tangoxlarge-actions-media-seek-forward{ background-position: -64px -1664px; width: 32px; height: 32px; } 
.tangoxlarge-actions-media-skip-backward{ background-position: -64px -1728px; width: 32px; height: 32px; } 
.tangoxlarge-actions-media-skip-forward{ background-position: -64px -1792px; width: 32px; height: 32px; } 
.tangoxlarge-actions-process-stop{ background-position: -64px -1856px; width: 32px; height: 32px; } 
.tangoxlarge-actions-system-lock-screen{ background-position: -64px -1920px; width: 32px; height: 32px; } 
.tangoxlarge-actions-system-log-out{ background-position: -128px 0; width: 32px; height: 32px; } 
.tangoxlarge-actions-system-search{ background-position: -128px -64px; width: 32px; height: 32px; } 
.tangoxlarge-actions-system-shutdown{ background-position: -128px -128px; width: 32px; height: 32px; } 
.tangoxlarge-actions-tab-new{ background-position: -128px -192px; width: 32px; height: 32px; } 
.tangoxlarge-actions-view-fullscreen{ background-position: -128px -256px; width: 32px; height: 32px; } 
.tangoxlarge-actions-view-refresh{ background-position: -128px -320px; width: 32px; height: 32px; } 
.tangoxlarge-actions-window-new{ background-position: -128px -384px; width: 32px; height: 32px; } 
.tangoxlarge-apps-accessories-calculator{ background-position: -128px -448px; width: 32px; height: 32px; } 
.tangoxlarge-apps-accessories-character-map{ background-position: -128px -512px; width: 32px; height: 32px; } 
.tangoxlarge-apps-accessories-text-editor{ background-position: -128px -576px; width: 32px; height: 32px; } 
.tangoxlarge-apps-help-browser{ background-position: -128px -640px; width: 32px; height: 32px; } 
.tangoxlarge-apps-internet-group-chat{ background-position: -128px -704px; width: 32px; height: 32px; } 
.tangoxlarge-apps-internet-mail{ background-position: -128px -768px; width: 32px; height: 32px; } 
.tangoxlarge-apps-internet-news-reader{ background-position: -128px -832px; width: 32px; height: 32px; } 
.tangoxlarge-apps-internet-web-browser{ background-position: -128px -896px; width: 32px; height: 32px; } 
.tangoxlarge-apps-office-calendar{ background-position: -128px -960px; width: 32px; height: 32px; } 
.tangoxlarge-apps-preferences-desktop-accessibility{ background-position: -128px -1024px; width: 32px; height: 32px; } 
.tangoxlarge-apps-preferences-desktop-assistive-technology{ background-position: -128px -1088px; width: 32px; height: 32px; } 
.tangoxlarge-apps-preferences-desktop-font{ background-position: -128px -1152px; width: 32px; height: 32px; } 
.tangoxlarge-apps-preferences-desktop-keyboard-shortcuts{ background-position: -128px -1216px; width: 32px; height: 32px; } 
.tangoxlarge-apps-preferences-desktop-locale{ background-position: -128px -1280px; width: 32px; height: 32px; } 
.tangoxlarge-apps-preferences-desktop-multimedia{ background-position: -128px -1344px; width: 32px; height: 32px; } 
.tangoxlarge-apps-preferences-desktop-remote-desktop{ background-position: -128px -1408px; width: 32px; height: 32px; } 
.tangoxlarge-apps-preferences-desktop-screensaver{ background-position: -128px -1472px; width: 32px; height: 32px; } 
.tangoxlarge-apps-preferences-desktop-theme{ background-position: -128px -1536px; width: 32px; height: 32px; } 
.tangoxlarge-apps-preferences-desktop-wallpaper{ background-position: -128px -1600px; width: 32px; height: 32px; } 
.tangoxlarge-apps-preferences-system-network-proxy{ background-position: -128px -1664px; width: 32px; height: 32px; } 
.tangoxlarge-apps-preferences-system-session{ background-position: -128px -1728px; width: 32px; height: 32px; } 
.tangoxlarge-apps-preferences-system-windows{ background-position: -128px -1792px; width: 32px; height: 32px; } 
.tangoxlarge-apps-system-file-manager{ background-position: -128px -1856px; width: 32px; height: 32px; } 
.tangoxlarge-apps-system-installer{ background-position: -128px -1920px; width: 32px; height: 32px; } 
.tangoxlarge-apps-system-software-update{ background-position: -192px 0; width: 32px; height: 32px; } 
.tangoxlarge-apps-system-users{ background-position: -192px -64px; width: 32px; height: 32px; } 
.tangoxlarge-apps-utilities-system-monitor{ background-position: -192px -128px; width: 32px; height: 32px; } 
.tangoxlarge-apps-utilities-terminal{ background-position: -192px -192px; width: 32px; height: 32px; } 
.tangoxlarge-categories-applications-accessories{ background-position: -192px -256px; width: 32px; height: 32px; } 
.tangoxlarge-categories-applications-development{ background-position: -192px -320px; width: 32px; height: 32px; } 
.tangoxlarge-categories-applications-games{ background-position: -192px -384px; width: 32px; height: 32px; } 
.tangoxlarge-categories-applications-graphics{ background-position: -192px -448px; width: 32px; height: 32px; } 
.tangoxlarge-categories-applications-internet{ background-position: -192px -512px; width: 32px; height: 32px; } 
.tangoxlarge-categories-applications-multimedia{ background-position: -192px -576px; width: 32px; height: 32px; } 
.tangoxlarge-categories-applications-office{ background-position: -192px -640px; width: 32px; height: 32px; } 
.tangoxlarge-categories-applications-other{ background-position: -192px -704px; width: 32px; height: 32px; } 
.tangoxlarge-categories-applications-system{ background-position: -192px -768px; width: 32px; height: 32px; } 
.tangoxlarge-categories-preferences-desktop-peripherals{ background-position: -192px -832px; width: 32px; height: 32px; } 
.tangoxlarge-categories-preferences-desktop{ background-position: -192px -896px; width: 32px; height: 32px; } 
.tangoxlarge-categories-preferences-system{ background-position: -192px -960px; width: 32px; height: 32px; } 
.tangoxlarge-devices-audio-card{ background-position: -192px -1024px; width: 32px; height: 32px; } 
.tangoxlarge-devices-audio-input-microphone{ background-position: -192px -1088px; width: 32px; height: 32px; } 
.tangoxlarge-devices-battery{ background-position: -192px -1152px; width: 32px; height: 32px; } 
.tangoxlarge-devices-camera-photo{ background-position: -192px -1216px; width: 32px; height: 32px; } 
.tangoxlarge-devices-camera-video{ background-position: -192px -1280px; width: 32px; height: 32px; } 
.tangoxlarge-devices-computer{ background-position: -192px -1344px; width: 32px; height: 32px; } 
.tangoxlarge-devices-drive-harddisk{ background-position: -192px -1408px; width: 32px; height: 32px; } 
.tangoxlarge-devices-drive-optical{ background-position: -192px -1472px; width: 32px; height: 32px; } 
.tangoxlarge-devices-drive-removable-media{ background-position: -192px -1536px; width: 32px; height: 32px; } 
.tangoxlarge-devices-input-gaming{ background-position: -192px -1600px; width: 32px; height: 32px; } 
.tangoxlarge-devices-input-keyboard{ background-position: -192px -1664px; width: 32px; height: 32px; } 
.tangoxlarge-devices-input-mouse{ background-position: -192px -1728px; width: 32px; height: 32px; } 
.tangoxlarge-devices-media-flash{ background-position: -192px -1792px; width: 32px; height: 32px; } 
.tangoxlarge-devices-media-floppy{ background-position: -192px -1856px; width: 32px; height: 32px; } 
.tangoxlarge-devices-media-optical{ background-position: -192px -1920px; width: 32px; height: 32px; } 
.tangoxlarge-devices-multimedia-player{ background-position: -256px 0; width: 32px; height: 32px; } 
.tangoxlarge-devices-network-wired{ background-position: -256px -64px; width: 32px; height: 32px; } 
.tangoxlarge-devices-network-wireless{ background-position: -256px -128px; width: 32px; height: 32px; } 
.tangoxlarge-devices-printer{ background-position: -256px -192px; width: 32px; height: 32px; } 
.tangoxlarge-devices-video-display{ background-position: -256px -256px; width: 32px; height: 32px; } 
.tangoxlarge-emblems-emblem-favorite{ background-position: -256px -320px; width: 32px; height: 32px; } 
.tangoxlarge-emblems-emblem-important{ background-position: -256px -384px; width: 32px; height: 32px; } 
.tangoxlarge-emblems-emblem-photos{ background-position: -256px -448px; width: 32px; height: 32px; } 
.tangoxlarge-emblems-emblem-readonly{ background-position: -256px -512px; width: 32px; height: 32px; } 
.tangoxlarge-emblems-emblem-symbolic-link{ background-position: -256px -576px; width: 32px; height: 32px; } 
.tangoxlarge-emblems-emblem-system{ background-position: -256px -640px; width: 32px; height: 32px; } 
.tangoxlarge-emblems-emblem-unreadable{ background-position: -256px -704px; width: 32px; height: 32px; } 
.tangoxlarge-emotes-face-angel{ background-position: -256px -768px; width: 32px; height: 32px; } 
.tangoxlarge-emotes-face-crying{ background-position: -256px -832px; width: 32px; height: 32px; } 
.tangoxlarge-emotes-face-devilish{ background-position: -256px -896px; width: 32px; height: 32px; } 
.tangoxlarge-emotes-face-glasses{ background-position: -256px -960px; width: 32px; height: 32px; } 
.tangoxlarge-emotes-face-grin{ background-position: -256px -1024px; width: 32px; height: 32px; } 
.tangoxlarge-emotes-face-kiss{ background-position: -256px -1088px; width: 32px; height: 32px; } 
.tangoxlarge-emotes-face-monkey{ background-position: -256px -1152px; width: 32px; height: 32px; } 
.tangoxlarge-emotes-face-plain{ background-position: -256px -1216px; width: 32px; height: 32px; } 
.tangoxlarge-emotes-face-sad{ background-position: -256px -1280px; width: 32px; height: 32px; } 
.tangoxlarge-emotes-face-smile-big{ background-position: -256px -1344px; width: 32px; height: 32px; } 
.tangoxlarge-emotes-face-smile{ background-position: -256px -1408px; width: 32px; height: 32px; } 
.tangoxlarge-emotes-face-surprise{ background-position: -256px -1472px; width: 32px; height: 32px; } 
.tangoxlarge-emotes-face-wink{ background-position: -256px -1536px; width: 32px; height: 32px; } 
.tangoxlarge-mimetypes-application-certificate{ background-position: -256px -1600px; width: 32px; height: 32px; } 
.tangoxlarge-mimetypes-application-x-executable{ background-position: -256px -1664px; width: 32px; height: 32px; } 
.tangoxlarge-mimetypes-audio-x-generic{ background-position: -256px -1728px; width: 32px; height: 32px; } 
.tangoxlarge-mimetypes-font-x-generic{ background-position: -256px -1792px; width: 32px; height: 32px; } 
.tangoxlarge-mimetypes-image-x-generic{ background-position: -256px -1856px; width: 32px; height: 32px; } 
.tangoxlarge-mimetypes-package-x-generic{ background-position: -256px -1920px; width: 32px; height: 32px; } 
.tangoxlarge-mimetypes-text-html{ background-position: -320px 0; width: 32px; height: 32px; } 
.tangoxlarge-mimetypes-text-x-generic-template{ background-position: -320px -64px; width: 32px; height: 32px; } 
.tangoxlarge-mimetypes-text-x-generic{ background-position: -320px -128px; width: 32px; height: 32px; } 
.tangoxlarge-mimetypes-text-x-script{ background-position: -320px -192px; width: 32px; height: 32px; } 
.tangoxlarge-mimetypes-video-x-generic{ background-position: -320px -256px; width: 32px; height: 32px; } 
.tangoxlarge-mimetypes-x-office-address-book{ background-position: -320px -320px; width: 32px; height: 32px; } 
.tangoxlarge-mimetypes-x-office-calendar{ background-position: -320px -384px; width: 32px; height: 32px; } 
.tangoxlarge-mimetypes-x-office-document-template{ background-position: -320px -448px; width: 32px; height: 32px; } 
.tangoxlarge-mimetypes-x-office-document{ background-position: -320px -512px; width: 32px; height: 32px; } 
.tangoxlarge-mimetypes-x-office-drawing-template{ background-position: -320px -576px; width: 32px; height: 32px; } 
.tangoxlarge-mimetypes-x-office-drawing{ background-position: -320px -640px; width: 32px; height: 32px; } 
.tangoxlarge-mimetypes-x-office-presentation-template{ background-position: -320px -704px; width: 32px; height: 32px; } 
.tangoxlarge-mimetypes-x-office-presentation{ background-position: -320px -768px; width: 32px; height: 32px; } 
.tangoxlarge-mimetypes-x-office-spreadsheet-template{ background-position: -320px -832px; width: 32px; height: 32px; } 
.tangoxlarge-mimetypes-x-office-spreadsheet{ background-position: -320px -896px; width: 32px; height: 32px; } 
.tangoxlarge-places-folder-remote{ background-position: -320px -960px; width: 32px; height: 32px; } 
.tangoxlarge-places-folder-saved-search{ background-position: -320px -1024px; width: 32px; height: 32px; } 
.tangoxlarge-places-folder{ background-position: -320px -1088px; width: 32px; height: 32px; } 
.tangoxlarge-places-network-server{ background-position: -320px -1152px; width: 32px; height: 32px; } 
.tangoxlarge-places-network-workgroup{ background-position: -320px -1216px; width: 32px; height: 32px; } 
.tangoxlarge-places-start-here{ background-position: -320px -1280px; width: 32px; height: 32px; } 
.tangoxlarge-places-user-desktop{ background-position: -320px -1344px; width: 32px; height: 32px; } 
.tangoxlarge-places-user-home{ background-position: -320px -1408px; width: 32px; height: 32px; } 
.tangoxlarge-places-user-trash{ background-position: -320px -1472px; width: 32px; height: 32px; } 
.tangoxlarge-status-audio-volume-high{ background-position: -320px -1536px; width: 32px; height: 32px; } 
.tangoxlarge-status-audio-volume-low{ background-position: -320px -1600px; width: 32px; height: 32px; } 
.tangoxlarge-status-audio-volume-medium{ background-position: -320px -1664px; width: 32px; height: 32px; } 
.tangoxlarge-status-audio-volume-muted{ background-position: -320px -1728px; width: 32px; height: 32px; } 
.tangoxlarge-status-battery-caution{ background-position: -320px -1792px; width: 32px; height: 32px; } 
.tangoxlarge-status-dialog-error{ background-position: -320px -1856px; width: 32px; height: 32px; } 
.tangoxlarge-status-dialog-information{ background-position: -320px -1920px; width: 32px; height: 32px; } 
.tangoxlarge-status-dialog-warning{ background-position: -384px 0; width: 32px; height: 32px; } 
.tangoxlarge-status-folder-drag-accept{ background-position: -384px -64px; width: 32px; height: 32px; } 
.tangoxlarge-status-folder-open{ background-position: -384px -128px; width: 32px; height: 32px; } 
.tangoxlarge-status-folder-visiting{ background-position: -384px -192px; width: 32px; height: 32px; } 
.tangoxlarge-status-image-loading{ background-position: -384px -256px; width: 32px; height: 32px; } 
.tangoxlarge-status-image-missing{ background-position: -384px -320px; width: 32px; height: 32px; } 
.tangoxlarge-status-mail-attachment{ background-position: -384px -384px; width: 32px; height: 32px; } 
.tangoxlarge-status-network-error{ background-position: -384px -448px; width: 32px; height: 32px; } 
.tangoxlarge-status-network-idle{ background-position: -384px -512px; width: 32px; height: 32px; } 
.tangoxlarge-status-network-offline{ background-position: -384px -576px; width: 32px; height: 32px; } 
.tangoxlarge-status-network-receive{ background-position: -384px -640px; width: 32px; height: 32px; } 
.tangoxlarge-status-network-transmit-receive{ background-position: -384px -704px; width: 32px; height: 32px; } 
.tangoxlarge-status-network-transmit{ background-position: -384px -768px; width: 32px; height: 32px; } 
.tangoxlarge-status-network-wireless-encrypted{ background-position: -384px -832px; width: 32px; height: 32px; } 
.tangoxlarge-status-printer-error{ background-position: -384px -896px; width: 32px; height: 32px; } 
.tangoxlarge-status-software-update-available{ background-position: -384px -960px; width: 32px; height: 32px; } 
.tangoxlarge-status-software-update-urgent{ background-position: -384px -1024px; width: 32px; height: 32px; } 
.tangoxlarge-status-user-trash-full{ background-position: -384px -1088px; width: 32px; height: 32px; } 
.tangoxlarge-status-weather-clear-night{ background-position: -384px -1152px; width: 32px; height: 32px; } 
.tangoxlarge-status-weather-clear{ background-position: -384px -1216px; width: 32px; height: 32px; } 
.tangoxlarge-status-weather-few-clouds-night{ background-position: -384px -1280px; width: 32px; height: 32px; } 
.tangoxlarge-status-weather-few-clouds{ background-position: -384px -1344px; width: 32px; height: 32px; } 
.tangoxlarge-status-weather-overcast{ background-position: -384px -1408px; width: 32px; height: 32px; } 
.tangoxlarge-status-weather-severe-alert{ background-position: -384px -1472px; width: 32px; height: 32px; } 
.tangoxlarge-status-weather-showers-scattered{ background-position: -384px -1536px; width: 32px; height: 32px; } 
.tangoxlarge-status-weather-showers{ background-position: -384px -1600px; width: 32px; height: 32px; } 
.tangoxlarge-status-weather-snow{ background-position: -384px -1664px; width: 32px; height: 32px; } 
.tangoxlarge-status-weather-storm{ background-position: -384px -1728px; width: 32px; height: 32px; } 
