[class^="tango-"], [class*=" tango-"] { background-repeat: no-repeat;display: inline-block; height: 16px; line-height: 16px; margin-bottom: 1px; vertical-align: middle;width: 16px; }
.tango-status-weather-storm { background-image: url("../img/tango/status-weather-storm.png"); } 
.tango-actions-address-book-new { background-image: url("../img/tango/actions-address-book-new.png"); } 
.tango-actions-appointment-new { background-image: url("../img/tango/actions-appointment-new.png"); } 
.tango-actions-bookmark-new { background-image: url("../img/tango/actions-bookmark-new.png"); } 
.tango-actions-contact-new { background-image: url("../img/tango/actions-contact-new.png"); } 
.tango-actions-document-new { background-image: url("../img/tango/actions-document-new.png"); } 
.tango-actions-document-open { background-image: url("../img/tango/actions-document-open.png"); } 
.tango-actions-document-print { background-image: url("../img/tango/actions-document-print.png"); } 
.tango-actions-document-print-preview { background-image: url("../img/tango/actions-document-print-preview.png"); } 
.tango-actions-document-properties { background-image: url("../img/tango/actions-document-properties.png"); } 
.tango-actions-document-save-as { background-image: url("../img/tango/actions-document-save-as.png"); } 
.tango-actions-document-save { background-image: url("../img/tango/actions-document-save.png"); } 
.tango-actions-edit-clear { background-image: url("../img/tango/actions-edit-clear.png"); } 
.tango-actions-edit-copy { background-image: url("../img/tango/actions-edit-copy.png"); } 
.tango-actions-edit-cut { background-image: url("../img/tango/actions-edit-cut.png"); } 
.tango-actions-edit-delete { background-image: url("../img/tango/actions-edit-delete.png"); } 
.tango-actions-edit-find { background-image: url("../img/tango/actions-edit-find.png"); } 
.tango-actions-edit-find-replace { background-image: url("../img/tango/actions-edit-find-replace.png"); } 
.tango-actions-edit-paste { background-image: url("../img/tango/actions-edit-paste.png"); } 
.tango-actions-edit-redo { background-image: url("../img/tango/actions-edit-redo.png"); } 
.tango-actions-edit-select-all { background-image: url("../img/tango/actions-edit-select-all.png"); } 
.tango-actions-edit-undo { background-image: url("../img/tango/actions-edit-undo.png"); } 
.tango-actions-folder-new { background-image: url("../img/tango/actions-folder-new.png"); } 
.tango-actions-format-indent-less { background-image: url("../img/tango/actions-format-indent-less.png"); } 
.tango-actions-format-indent-more { background-image: url("../img/tango/actions-format-indent-more.png"); } 
.tango-actions-format-justify-center { background-image: url("../img/tango/actions-format-justify-center.png"); } 
.tango-actions-format-justify-fill { background-image: url("../img/tango/actions-format-justify-fill.png"); } 
.tango-actions-format-justify-left { background-image: url("../img/tango/actions-format-justify-left.png"); } 
.tango-actions-format-justify-right { background-image: url("../img/tango/actions-format-justify-right.png"); } 
.tango-actions-format-text-bold { background-image: url("../img/tango/actions-format-text-bold.png"); } 
.tango-actions-format-text-italic { background-image: url("../img/tango/actions-format-text-italic.png"); } 
.tango-actions-format-text-strikethrough { background-image: url("../img/tango/actions-format-text-strikethrough.png"); } 
.tango-actions-format-text-underline { background-image: url("../img/tango/actions-format-text-underline.png"); } 
.tango-actions-go-bottom { background-image: url("../img/tango/actions-go-bottom.png"); } 
.tango-actions-go-down { background-image: url("../img/tango/actions-go-down.png"); } 
.tango-actions-go-first { background-image: url("../img/tango/actions-go-first.png"); } 
.tango-actions-go-home { background-image: url("../img/tango/actions-go-home.png"); } 
.tango-actions-go-jump { background-image: url("../img/tango/actions-go-jump.png"); } 
.tango-actions-go-last { background-image: url("../img/tango/actions-go-last.png"); } 
.tango-actions-go-next { background-image: url("../img/tango/actions-go-next.png"); } 
.tango-actions-go-previous { background-image: url("../img/tango/actions-go-previous.png"); } 
.tango-actions-go-top { background-image: url("../img/tango/actions-go-top.png"); } 
.tango-actions-go-up { background-image: url("../img/tango/actions-go-up.png"); } 
.tango-actions-list-add { background-image: url("../img/tango/actions-list-add.png"); } 
.tango-actions-list-remove { background-image: url("../img/tango/actions-list-remove.png"); } 
.tango-actions-mail-forward { background-image: url("../img/tango/actions-mail-forward.png"); } 
.tango-actions-mail-mark-junk { background-image: url("../img/tango/actions-mail-mark-junk.png"); } 
.tango-actions-mail-mark-not-junk { background-image: url("../img/tango/actions-mail-mark-not-junk.png"); } 
.tango-actions-mail-message-new { background-image: url("../img/tango/actions-mail-message-new.png"); } 
.tango-actions-mail-reply-all { background-image: url("../img/tango/actions-mail-reply-all.png"); } 
.tango-actions-mail-reply-sender { background-image: url("../img/tango/actions-mail-reply-sender.png"); } 
.tango-actions-mail-send-receive { background-image: url("../img/tango/actions-mail-send-receive.png"); } 
.tango-actions-media-eject { background-image: url("../img/tango/actions-media-eject.png"); } 
.tango-actions-media-playback-pause { background-image: url("../img/tango/actions-media-playback-pause.png"); } 
.tango-actions-media-playback-start { background-image: url("../img/tango/actions-media-playback-start.png"); } 
.tango-actions-media-playback-stop { background-image: url("../img/tango/actions-media-playback-stop.png"); } 
.tango-actions-media-record { background-image: url("../img/tango/actions-media-record.png"); } 
.tango-actions-media-seek-backward { background-image: url("../img/tango/actions-media-seek-backward.png"); } 
.tango-actions-media-seek-forward { background-image: url("../img/tango/actions-media-seek-forward.png"); } 
.tango-actions-media-skip-backward { background-image: url("../img/tango/actions-media-skip-backward.png"); } 
.tango-actions-media-skip-forward { background-image: url("../img/tango/actions-media-skip-forward.png"); } 
.tango-actions-process-stop { background-image: url("../img/tango/actions-process-stop.png"); } 
.tango-actions-system-lock-screen { background-image: url("../img/tango/actions-system-lock-screen.png"); } 
.tango-actions-system-log-out { background-image: url("../img/tango/actions-system-log-out.png"); } 
.tango-actions-system-search { background-image: url("../img/tango/actions-system-search.png"); } 
.tango-actions-system-shutdown { background-image: url("../img/tango/actions-system-shutdown.png"); } 
.tango-actions-tab-new { background-image: url("../img/tango/actions-tab-new.png"); } 
.tango-actions-view-fullscreen { background-image: url("../img/tango/actions-view-fullscreen.png"); } 
.tango-actions-view-refresh { background-image: url("../img/tango/actions-view-refresh.png"); } 
.tango-actions-window-new { background-image: url("../img/tango/actions-window-new.png"); } 
.tango-animations-process-working { background-image: url("../img/tango/animations-process-working.png"); } 
.tango-apps-accessories-calculator { background-image: url("../img/tango/apps-accessories-calculator.png"); } 
.tango-apps-accessories-character-map { background-image: url("../img/tango/apps-accessories-character-map.png"); } 
.tango-apps-accessories-text-editor { background-image: url("../img/tango/apps-accessories-text-editor.png"); } 
.tango-apps-help-browser { background-image: url("../img/tango/apps-help-browser.png"); } 
.tango-apps-internet-group-chat { background-image: url("../img/tango/apps-internet-group-chat.png"); } 
.tango-apps-internet-mail { background-image: url("../img/tango/apps-internet-mail.png"); } 
.tango-apps-internet-news-reader { background-image: url("../img/tango/apps-internet-news-reader.png"); } 
.tango-apps-internet-web-browser { background-image: url("../img/tango/apps-internet-web-browser.png"); } 
.tango-apps-office-calendar { background-image: url("../img/tango/apps-office-calendar.png"); } 
.tango-apps-preferences-desktop-accessibility { background-image: url("../img/tango/apps-preferences-desktop-accessibility.png"); } 
.tango-apps-preferences-desktop-assistive-technology { background-image: url("../img/tango/apps-preferences-desktop-assistive-technology.png"); } 
.tango-apps-preferences-desktop-font { background-image: url("../img/tango/apps-preferences-desktop-font.png"); } 
.tango-apps-preferences-desktop-keyboard-shortcuts { background-image: url("../img/tango/apps-preferences-desktop-keyboard-shortcuts.png"); } 
.tango-apps-preferences-desktop-locale { background-image: url("../img/tango/apps-preferences-desktop-locale.png"); } 
.tango-apps-preferences-desktop-multimedia { background-image: url("../img/tango/apps-preferences-desktop-multimedia.png"); } 
.tango-apps-preferences-desktop-remote-desktop { background-image: url("../img/tango/apps-preferences-desktop-remote-desktop.png"); } 
.tango-apps-preferences-desktop-screensaver { background-image: url("../img/tango/apps-preferences-desktop-screensaver.png"); } 
.tango-apps-preferences-desktop-theme { background-image: url("../img/tango/apps-preferences-desktop-theme.png"); } 
.tango-apps-preferences-desktop-wallpaper { background-image: url("../img/tango/apps-preferences-desktop-wallpaper.png"); } 
.tango-apps-preferences-system-network-proxy { background-image: url("../img/tango/apps-preferences-system-network-proxy.png"); } 
.tango-apps-preferences-system-session { background-image: url("../img/tango/apps-preferences-system-session.png"); } 
.tango-apps-preferences-system-windows { background-image: url("../img/tango/apps-preferences-system-windows.png"); } 
.tango-apps-system-file-manager { background-image: url("../img/tango/apps-system-file-manager.png"); } 
.tango-apps-system-installer { background-image: url("../img/tango/apps-system-installer.png"); } 
.tango-apps-system-software-update { background-image: url("../img/tango/apps-system-software-update.png"); } 
.tango-apps-system-users { background-image: url("../img/tango/apps-system-users.png"); } 
.tango-apps-utilities-system-monitor { background-image: url("../img/tango/apps-utilities-system-monitor.png"); } 
.tango-apps-utilities-terminal { background-image: url("../img/tango/apps-utilities-terminal.png"); } 
.tango-categories-applications-accessories { background-image: url("../img/tango/categories-applications-accessories.png"); } 
.tango-categories-applications-development { background-image: url("../img/tango/categories-applications-development.png"); } 
.tango-categories-applications-games { background-image: url("../img/tango/categories-applications-games.png"); } 
.tango-categories-applications-graphics { background-image: url("../img/tango/categories-applications-graphics.png"); } 
.tango-categories-applications-internet { background-image: url("../img/tango/categories-applications-internet.png"); } 
.tango-categories-applications-multimedia { background-image: url("../img/tango/categories-applications-multimedia.png"); } 
.tango-categories-applications-office { background-image: url("../img/tango/categories-applications-office.png"); } 
.tango-categories-applications-other { background-image: url("../img/tango/categories-applications-other.png"); } 
.tango-categories-applications-system { background-image: url("../img/tango/categories-applications-system.png"); } 
.tango-categories-preferences-desktop-peripherals { background-image: url("../img/tango/categories-preferences-desktop-peripherals.png"); } 
.tango-categories-preferences-desktop { background-image: url("../img/tango/categories-preferences-desktop.png"); } 
.tango-categories-preferences-system { background-image: url("../img/tango/categories-preferences-system.png"); } 
.tango-devices-audio-card { background-image: url("../img/tango/devices-audio-card.png"); } 
.tango-devices-audio-input-microphone { background-image: url("../img/tango/devices-audio-input-microphone.png"); } 
.tango-devices-battery { background-image: url("../img/tango/devices-battery.png"); } 
.tango-devices-camera-photo { background-image: url("../img/tango/devices-camera-photo.png"); } 
.tango-devices-camera-video { background-image: url("../img/tango/devices-camera-video.png"); } 
.tango-devices-computer { background-image: url("../img/tango/devices-computer.png"); } 
.tango-devices-drive-harddisk { background-image: url("../img/tango/devices-drive-harddisk.png"); } 
.tango-devices-drive-optical { background-image: url("../img/tango/devices-drive-optical.png"); } 
.tango-devices-drive-removable-media { background-image: url("../img/tango/devices-drive-removable-media.png"); } 
.tango-devices-input-gaming { background-image: url("../img/tango/devices-input-gaming.png"); } 
.tango-devices-input-keyboard { background-image: url("../img/tango/devices-input-keyboard.png"); } 
.tango-devices-input-mouse { background-image: url("../img/tango/devices-input-mouse.png"); } 
.tango-devices-media-flash { background-image: url("../img/tango/devices-media-flash.png"); } 
.tango-devices-media-floppy { background-image: url("../img/tango/devices-media-floppy.png"); } 
.tango-devices-media-optical { background-image: url("../img/tango/devices-media-optical.png"); } 
.tango-devices-multimedia-player { background-image: url("../img/tango/devices-multimedia-player.png"); } 
.tango-devices-network-wired { background-image: url("../img/tango/devices-network-wired.png"); } 
.tango-devices-network-wireless { background-image: url("../img/tango/devices-network-wireless.png"); } 
.tango-devices-printer { background-image: url("../img/tango/devices-printer.png"); } 
.tango-devices-video-display { background-image: url("../img/tango/devices-video-display.png"); } 
.tango-emblems-emblem-favorite { background-image: url("../img/tango/emblems-emblem-favorite.png"); } 
.tango-emblems-emblem-important { background-image: url("../img/tango/emblems-emblem-important.png"); } 
.tango-emblems-emblem-photos { background-image: url("../img/tango/emblems-emblem-photos.png"); } 
.tango-emblems-emblem-readonly { background-image: url("../img/tango/emblems-emblem-readonly.png"); } 
.tango-emblems-emblem-symbolic-link { background-image: url("../img/tango/emblems-emblem-symbolic-link.png"); } 
.tango-emblems-emblem-system { background-image: url("../img/tango/emblems-emblem-system.png"); } 
.tango-emblems-emblem-unreadable { background-image: url("../img/tango/emblems-emblem-unreadable.png"); } 
.tango-emotes-face-angel { background-image: url("../img/tango/emotes-face-angel.png"); } 
.tango-emotes-face-crying { background-image: url("../img/tango/emotes-face-crying.png"); } 
.tango-emotes-face-devilish { background-image: url("../img/tango/emotes-face-devilish.png"); } 
.tango-emotes-face-glasses { background-image: url("../img/tango/emotes-face-glasses.png"); } 
.tango-emotes-face-grin { background-image: url("../img/tango/emotes-face-grin.png"); } 
.tango-emotes-face-kiss { background-image: url("../img/tango/emotes-face-kiss.png"); } 
.tango-emotes-face-monkey { background-image: url("../img/tango/emotes-face-monkey.png"); } 
.tango-emotes-face-plain { background-image: url("../img/tango/emotes-face-plain.png"); } 
.tango-emotes-face-sad { background-image: url("../img/tango/emotes-face-sad.png"); } 
.tango-emotes-face-smile-big { background-image: url("../img/tango/emotes-face-smile-big.png"); } 
.tango-emotes-face-smile { background-image: url("../img/tango/emotes-face-smile.png"); } 
.tango-emotes-face-surprise { background-image: url("../img/tango/emotes-face-surprise.png"); } 
.tango-emotes-face-wink { background-image: url("../img/tango/emotes-face-wink.png"); } 
.tango-mimetypes-application-certificate { background-image: url("../img/tango/mimetypes-application-certificate.png"); } 
.tango-mimetypes-application-x-executable { background-image: url("../img/tango/mimetypes-application-x-executable.png"); } 
.tango-mimetypes-audio-x-generic { background-image: url("../img/tango/mimetypes-audio-x-generic.png"); } 
.tango-mimetypes-font-x-generic { background-image: url("../img/tango/mimetypes-font-x-generic.png"); } 
.tango-mimetypes-image-x-generic { background-image: url("../img/tango/mimetypes-image-x-generic.png"); } 
.tango-mimetypes-package-x-generic { background-image: url("../img/tango/mimetypes-package-x-generic.png"); } 
.tango-mimetypes-text-html { background-image: url("../img/tango/mimetypes-text-html.png"); } 
.tango-mimetypes-text-x-generic { background-image: url("../img/tango/mimetypes-text-x-generic.png"); } 
.tango-mimetypes-text-x-generic-template { background-image: url("../img/tango/mimetypes-text-x-generic-template.png"); } 
.tango-mimetypes-text-x-script { background-image: url("../img/tango/mimetypes-text-x-script.png"); } 
.tango-mimetypes-video-x-generic { background-image: url("../img/tango/mimetypes-video-x-generic.png"); } 
.tango-mimetypes-x-office-address-book { background-image: url("../img/tango/mimetypes-x-office-address-book.png"); } 
.tango-mimetypes-x-office-calendar { background-image: url("../img/tango/mimetypes-x-office-calendar.png"); } 
.tango-mimetypes-x-office-document { background-image: url("../img/tango/mimetypes-x-office-document.png"); } 
.tango-mimetypes-x-office-document-template { background-image: url("../img/tango/mimetypes-x-office-document-template.png"); } 
.tango-mimetypes-x-office-drawing { background-image: url("../img/tango/mimetypes-x-office-drawing.png"); } 
.tango-mimetypes-x-office-drawing-template { background-image: url("../img/tango/mimetypes-x-office-drawing-template.png"); } 
.tango-mimetypes-x-office-presentation { background-image: url("../img/tango/mimetypes-x-office-presentation.png"); } 
.tango-mimetypes-x-office-presentation-template { background-image: url("../img/tango/mimetypes-x-office-presentation-template.png"); } 
.tango-mimetypes-x-office-spreadsheet { background-image: url("../img/tango/mimetypes-x-office-spreadsheet.png"); } 
.tango-mimetypes-x-office-spreadsheet-template { background-image: url("../img/tango/mimetypes-x-office-spreadsheet-template.png"); } 
.tango-places-folder { background-image: url("../img/tango/places-folder.png"); } 
.tango-places-folder-remote { background-image: url("../img/tango/places-folder-remote.png"); } 
.tango-places-folder-saved-search { background-image: url("../img/tango/places-folder-saved-search.png"); } 
.tango-places-network-server { background-image: url("../img/tango/places-network-server.png"); } 
.tango-places-network-workgroup { background-image: url("../img/tango/places-network-workgroup.png"); } 
.tango-places-start-here { background-image: url("../img/tango/places-start-here.png"); } 
.tango-places-user-desktop { background-image: url("../img/tango/places-user-desktop.png"); } 
.tango-places-user-home { background-image: url("../img/tango/places-user-home.png"); } 
.tango-places-user-trash { background-image: url("../img/tango/places-user-trash.png"); } 
.tango-status-audio-volume-high { background-image: url("../img/tango/status-audio-volume-high.png"); } 
.tango-status-audio-volume-low { background-image: url("../img/tango/status-audio-volume-low.png"); } 
.tango-status-audio-volume-medium { background-image: url("../img/tango/status-audio-volume-medium.png"); } 
.tango-status-audio-volume-muted { background-image: url("../img/tango/status-audio-volume-muted.png"); } 
.tango-status-battery-caution { background-image: url("../img/tango/status-battery-caution.png"); } 
.tango-status-dialog-error { background-image: url("../img/tango/status-dialog-error.png"); } 
.tango-status-dialog-information { background-image: url("../img/tango/status-dialog-information.png"); } 
.tango-status-dialog-warning { background-image: url("../img/tango/status-dialog-warning.png"); } 
.tango-status-folder-drag-accept { background-image: url("../img/tango/status-folder-drag-accept.png"); } 
.tango-status-folder-open { background-image: url("../img/tango/status-folder-open.png"); } 
.tango-status-folder-visiting { background-image: url("../img/tango/status-folder-visiting.png"); } 
.tango-status-image-loading { background-image: url("../img/tango/status-image-loading.png"); } 
.tango-status-image-missing { background-image: url("../img/tango/status-image-missing.png"); } 
.tango-status-mail-attachment { background-image: url("../img/tango/status-mail-attachment.png"); } 
.tango-status-network-error { background-image: url("../img/tango/status-network-error.png"); } 
.tango-status-network-idle { background-image: url("../img/tango/status-network-idle.png"); } 
.tango-status-network-offline { background-image: url("../img/tango/status-network-offline.png"); } 
.tango-status-network-receive { background-image: url("../img/tango/status-network-receive.png"); } 
.tango-status-network-transmit { background-image: url("../img/tango/status-network-transmit.png"); } 
.tango-status-network-transmit-receive { background-image: url("../img/tango/status-network-transmit-receive.png"); } 
.tango-status-network-wireless-encrypted { background-image: url("../img/tango/status-network-wireless-encrypted.png"); } 
.tango-status-printer-error { background-image: url("../img/tango/status-printer-error.png"); } 
.tango-status-software-update-available { background-image: url("../img/tango/status-software-update-available.png"); } 
.tango-status-software-update-urgent { background-image: url("../img/tango/status-software-update-urgent.png"); } 
.tango-status-user-trash-full { background-image: url("../img/tango/status-user-trash-full.png"); } 
.tango-status-weather-clear-night { background-image: url("../img/tango/status-weather-clear-night.png"); } 
.tango-status-weather-clear { background-image: url("../img/tango/status-weather-clear.png"); } 
.tango-status-weather-few-clouds-night { background-image: url("../img/tango/status-weather-few-clouds-night.png"); } 
.tango-status-weather-few-clouds { background-image: url("../img/tango/status-weather-few-clouds.png"); } 
.tango-status-weather-overcast { background-image: url("../img/tango/status-weather-overcast.png"); } 
.tango-status-weather-severe-alert { background-image: url("../img/tango/status-weather-severe-alert.png"); } 
.tango-status-weather-showers { background-image: url("../img/tango/status-weather-showers.png"); } 
.tango-status-weather-showers-scattered { background-image: url("../img/tango/status-weather-showers-scattered.png"); } 
.tango-status-weather-snow { background-image: url("../img/tango/status-weather-snow.png"); } 
.tango-status-weather-storm { background-image: url("../img/tango/status-weather-storm.png"); } 
